*{
    --page-margin : var(--app-narrow-margin);
}

.content-wrapper{
    margin: calc(var(--page-margin) * 2) var(--page-margin) var(--page-margin);
}
.number-styling{
    padding-top: 10px;
}
.card-styling{
    --background: white;
    border-radius: 25px;
    display: block;
    margin: 25px 15px;
}
.column-left-styling{
    font-size: 16px;
    line-break: loose;
}
.ticket-row{
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
}
