<ion-header>
    <ion-toolbar color="light">
      <ion-title>
        Update App
      </ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content class="background-page">
  <div class="info-wrapper">
    <div class="illustration-wrapper">
       <ion-img src="../../assets/sample-icons/side-menu/update.png" class="image-wrapper"></ion-img>
       <div class="text-content-wrapper">
        Versi terbaru telah hadir. Ayo perbarui Idstar Mobile supaya dapatin fitur yang menarik.
        </div>
    </div>
      <div class="button-wrapper">
        <ion-button class="go-update-btn" expand="block">
          <ion-text class="go-update-text">Update</ion-text>
        </ion-button>
      </div>
  </div>
  </ion-content>
