<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Redeem History</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top" class="tab-bar">
      <ion-tab-button tab="redeem-history-list" mode="ios" class="ion-text-center tab-button">
        <ion-label>History</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="my-rewards-list" mode="ios" class="ion-text-center tab-button">
        <ion-label>My Rewards</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
