.tab-bar{
    --border: 2px solid black;
    box-shadow: lightness($color: #f23934);
    --color: black;
}
.tab-button:nth-child(1){
    border-right: 1px solid black;
    box-sizing: border-box;
}
.tab-button:nth-child(2){
    border-left: 1px solid black;
    box-sizing: border-box;
}