<ion-header>
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start" (click)="onBackClicked()">
      <ion-icon class="back" name="ios-arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title class="title"><p class="title-text">History</p></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top" selected-tab="bootcamp">
      <ion-tab-button tab="bootcamp/2">
        <ion-label>Bootcamp</ion-label>
        <div class="highlight"></div>
      </ion-tab-button>
      <ion-tab-button tab="event/1">
        <ion-label>Event</ion-label>
        <div class="highlight"></div>
      </ion-tab-button>
      <ion-tab-button tab="challenge">
        <ion-label>Challenge</ion-label>
        <div class="highlight"></div>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
