// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-broad-margin);
  --page-background: var(--app-background-shade);
}

// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.legal-content {
  --background: var(--page-background);
  --padding-start: var(--page-margin);
  --padding-end: var(--page-margin);
  --padding-top: var(--page-margin);
  --padding-bottom: var(--page-margin);

  .legal-title {
    color: var(--ion-color-secondary);
    margin: var(--page-margin) 0px calc(var(--page-margin) / 2);
  }

  .legal-text {
    color: var(--ion-color-medium);
    margin: calc(var(--page-margin) / 2) 0px var(--page-margin);
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
  }
}

.privacy-policy-container {
  height: 100vh;
  font-family: var(--montserrat-family);
  overflow: auto;
}

.header-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 34px 40px;
}

.header-title {
  font-size: 18px;
  font-weight: bold;
  color: var(--idstar-dark-grey)
}

.header-sub-title {
  font-size: 14px;
  color: var(--idstar-grey)
}

.content-container {
  padding: 40px;
}

.logo-one {
  max-width: 72px;
  margin-bottom: 29px;
}

.content-header {
  font-size: 12px;
  font-weight: bold;
  color: var(--idstar-dark-grey);
  margin-bottom: 20px;
}

.content {
  font-size: 10px;
  color: var(--idstar-grey);
  margin-bottom: 20px;
}

.footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-container {
  padding: 24px 37px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.accept-button {
  --background: rgb(117, 194, 68);
  --background: linear-gradient(90deg, rgba(117, 194, 68, 1) 0%, rgba(100, 229, 18, 1) 50%);
  font-size: 12px;
  color: var(--idstar-white);
  font-family: var(--montserrat-family);
  --box-shadow: 0 0 32px -7px #75C244;
  width: 40%;
  height: 47px;
}

.decline-button {
  width: 40%;
  color: var(--idstar-primary);
  outline-color: var(--idstar-primary);
  height: 47px;
}

.close-button {
  width: 100%;
  color: var(--idstar-primary);
  outline-color: var(--idstar-primary);
  height: 47px;
}
