@import '../../../../theme/mixins/scrollbars';
@import '../../../../theme/mixins/inputs/select-alert';

// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-narrow-margin);
  --page-border-radius: var(--app-fair-radius);

  --page-actions-padding: 5px;
  --page-friends-gutter: calc(var(--page-margin) / 2);
  --page-pictures-gutter: calc(var(--page-margin) / 2);
}

.profile-header {
  color: var(--idstar-dark-grey);

  .back {
    font-size: 22px;
  }

  .title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bold;
  }
}

.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .spinner {
    margin-bottom: 10px;
  }
}

.email-verification-container{
  display: flex;
  flex-direction: row;
  background-color: var(--idstar-red-2);
  padding: 22px 38px;
  justify-content: space-between;
  align-items: center;

  .verification-text{
    color: var(--idstar-white);
    font-weight: bold;
    font-size: 8px;
  }

  .verification-button{
    color: var(--idstar-white);
    padding: 6px 14px;
    border-radius: 20px;
    background-color: var(--idstar-yellow-2);
    font-weight: bold;
    font-size: 9px;
  }
}

.profile-detail-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 36px;

  .profile-image-container {
    .profile-image {
      height: auto;
      width: 70px;
      border-radius: 50px;
    }
  }

  .profile-info-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .profile-info-container-1 {
      padding-left: 20px;

      .profile-info-name {
        font-size: 18px;
        font-weight: 700;
      }

      .profile-info-title {
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
}

.level-container {
  background-color: var(--idstar-light-grey);
  padding: 26px 52px;
  display: flex;
  flex-direction: row;
  align-items: center;

  .star-image {
    //padding: 10px;
    height: auto;
    width: 30%;
    border-radius: 5px;
    //background-color: var(--idstar-grey);
  }

  .level-container-2 {
    margin-left: 30px;
    width: 80%;

    .level-name {
      padding-bottom: 3px;
      font-weight: 700;
      font-size: 14px;
    }

    .progress {
      border-radius: 50px;
      height: 10px;
      background-color: var(--idstar-grey);

      .inner {
        border-radius: 50px;
        height: 10px;
        background-color: var(--idstar-primary);
      }
    }

    .level-point-range {
      display: flex;
      justify-content: space-between;
      font-size: 9px;
      padding-bottom: 3px;
    }
  }
}

.experience-container {
  padding: 0 30px;

  .experience-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;

    .experience-container-title {
      font-size: 12px;
      font-weight: 700;
    }

    .experience-container-edit {
      font-size: 10px;
      font-weight: 700;
      color: var(--idstar-primary);
    }
  }

  .experience-null {
    padding: 20px;
    font-size: 12px;
    text-align: center;
    background-color: var(--idstar-light-grey);
  }

  .experience-exist {
    padding-bottom: 20px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .experience-icon {
      height: 38px;
      width: 38px;
      display: flex;
      justify-content: center;
    }

    .experience-exist-2 {
      padding-left: 14px;
      width: 80%;

      .experience-position {
        font-size: 12px;
        font-weight: 700;
      }

      .experience-name {
        font-size: 12px;
        font-weight: 400;
      }

      .experience-date {
        .experience-date-1, .experience-date-2 {
          padding: 0;
          display: inline-block;
          font-size: 10px;
        }

        .experience-present-text {
          font-size: 10px;
        }
      }
    }
  }

  .heading-row {
    justify-content: space-between;
    display: flex;
    padding-bottom: 3%;
  }

  .experience-item:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .experience-item {
    border-radius: 0;
    margin-inline-end: 0;
    margin-inline-start: 0;
    margin: 0;
    padding: 10px;
    color: var(--idstar-dark-grey);
    border-bottom: 1px solid var(--idstar-dark);
    --background: var(--idstar-light);
    --ion-grid-column-padding: 1px;

    .item-image {
      margin-right: 5px;

      .experience-pict {
        width: 80%;
        margin-left: 10%;
      }
    }

    .experience-detail {
      font-family: var(--nunito-family);
      font-size: 11px;
      line-height: 1.5;

      .experience-position {
        font-weight: bold;
        font-size: 12px;
      }

      .period {
        display: flex;
        color: var(--idstar-challenge-color);
      }
    }
  }
}

.education-container {
  padding: 0 30px;

  .education-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;

    .education-container-title {
      font-size: 12px;
      font-weight: 700;
    }

    .education-container-edit {
      font-size: 10px;
      font-weight: 700;
      color: var(--idstar-primary);
    }
  }

  .education-null {
    padding: 20px;
    font-size: 12px;
    text-align: center;
    background-color: var(--idstar-light-grey);
  }

  .education-exist {
    padding-bottom: 20px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .education-icon {
      height: 38px;
      width: 38px;
      display: flex;
      justify-content: center;
    }

    .education-exist-2 {
      padding-left: 14px;
      width: 80%;

      .education-institution-name {
        font-size: 12px;
        font-weight: 700;
      }

      .education-title {
        font-size: 12px;
        font-weight: 400;
      }

      .education-date {
        .education-date-1, .education-date-2 {
          padding: 0;
          display: inline-block;
          font-size: 10px;
        }

        .education-present-text {
          font-size: 10px;
        }
      }
    }
  }

  .heading-row {
    justify-content: space-between;
    display: flex;
    padding-bottom: 3%;
  }

  .experience-item:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .experience-item {
    border-radius: 0;
    margin-inline-end: 0;
    margin-inline-start: 0;
    margin: 0;
    padding: 10px;
    color: var(--idstar-dark-grey);
    border-bottom: 1px solid var(--idstar-dark);
    --background: var(--idstar-light);
    --ion-grid-column-padding: 1px;

    .item-image {
      margin-right: 5px;

      .experience-pict {
        width: 80%;
        margin-left: 10%;
      }
    }

    .experience-detail {
      font-family: var(--nunito-family);
      font-size: 11px;
      line-height: 1.5;

      .experience-position {
        font-weight: bold;
        font-size: 12px;
      }

      .period {
        display: flex;
        color: var(--idstar-challenge-color);
      }
    }
  }
}

.project-container {
  padding: 0 30px;

  .project-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;

    .project-container-title {
      font-size: 12px;
      font-weight: 700;
    }

    .project-container-edit {
      font-size: 10px;
      font-weight: 700;
      color: var(--idstar-primary);
    }
  }

  .project-null {
    padding: 20px;
    font-size: 12px;
    text-align: center;
    background-color: var(--idstar-light-grey);
  }

  .project-exist {
    padding-bottom: 20px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .project-icon {
      height: 38px;
      width: 38px;
      display: flex;
      justify-content: center;
    }

    .project-exist-2 {
      padding-left: 14px;
      width: 80%;

      .project-position {
        font-size: 12px;
        font-weight: 700;
      }

      .project-desc {
        font-size: 12px;
        font-weight: 400;
      }

      .project-date {
        .project-date-1, .project-date-2 {
          padding: 0;
          display: inline-block;
          font-size: 10px;
        }

        .project-present-text {
          font-size: 10px;
        }
      }
    }
  }

  .heading-row {
    justify-content: space-between;
    display: flex;
    padding-bottom: 3%;
  }

  .experience-item:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .experience-item {
    border-radius: 0;
    margin-inline-end: 0;
    margin-inline-start: 0;
    margin: 0;
    padding: 10px;
    color: var(--idstar-dark-grey);
    border-bottom: 1px solid var(--idstar-dark);
    --background: var(--idstar-light);
    --ion-grid-column-padding: 1px;

    .item-image {
      margin-right: 5px;

      .experience-pict {
        width: 80%;
        margin-left: 10%;
      }
    }

    .experience-detail {
      font-family: var(--nunito-family);
      font-size: 11px;
      line-height: 1.5;

      .experience-position {
        font-weight: bold;
        font-size: 12px;
      }

      .period {
        display: flex;
        color: var(--idstar-challenge-color);
      }
    }
  }
}

.certification-container {
  padding: 0 30px;

  .certification-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;

    .certification-container-title {
      font-size: 12px;
      font-weight: 700;
    }

    .certification-container-edit {
      font-size: 10px;
      font-weight: 700;
      color: var(--idstar-primary);
    }
  }

  .certification-null {
    padding: 20px;
    font-size: 12px;
    text-align: center;
    background-color: var(--idstar-light-grey);
  }

  .certification-exist {
    padding-bottom: 20px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .certification-icon {
      height: 38px;
      width: 38px;
      display: flex;
      justify-content: center;
    }

    .certification-exist-2 {
      padding-left: 14px;
      width: 80%;

      .certification-title {
        font-size: 12px;
        font-weight: 700;
      }

      .certification-desc {
        font-size: 12px;
        font-weight: 400;
      }

      .certification-date {
        .certification-date-1 {
          padding: 0;
          display: inline-block;
          font-size: 10px;
        }
      }
    }
  }
}

.version-container{
  text-align: center;
  padding-top: 10%;
  font-size: 12px;
}

.about-me-container {
  padding: 0 30px;

  .about-me-container-title {
    font-size: 12px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .text-about-me {
    font-size: 12px;
    font-weight: 400;
    color: var(--idstar-dark-grey)
  }
}

.event-history-container {
  padding: 0 30px;

  .event-history-container-title {
    font-size: 12px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .event-history-container-content {
    background-color: var(--idstar-light-grey);
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 12px;

    .content-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 33.33%;

      .value-content {
        color: var(--idstar-primary);
        font-size: 36px;
        font-weight: 700;
      }

      .title-content{
        font-size: 9px;
        font-weight: 700;
        color: var(--idstar-dark-grey)
      }
    }
  }
}

.skill-container {
  padding: 0 30px;

  .skill-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;

    .skill-container-title {
      font-size: 12px;
      font-weight: 700;
    }

    .skill-container-edit {
      font-size: 10px;
      font-weight: 700;
      color: var(--idstar-primary);
    }
  }

  .skill-null {
    padding: 20px;
    font-size: 12px;
    text-align: center;
    background-color: var(--idstar-light-grey);
  }


  .skill-chip {
    margin-left: 0;

    .skill-label {
      font-size: 9px;
    }
  }
}

.grid-background {
  text-align: center;
  color: red;

  .user-details-section {
    border-radius: 50%;
    width: 70px;
    height: 70px;
  }

  .user-name {
    padding-top: 2%;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: bold;
  }

  .user-title {
    padding-top: 1%;
    font-size: 12px;
    padding-bottom: 5%;
    color: var(--idstar-dark-grey);
  }

  .level-button {
    color: var(--idstar-dark-grey);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: none;
    border-right: 1.5px solid var(--idstar-primary);
    color: var(--idstar-primary);
    padding-left: 5%;
    padding-right: 10%;
    width: 35%;
    height: 45px;
    font-weight: bolder;

    img {
      position: absolute;
      transform: translate(50%, -25%);
    }
  }

  .achievements-button {
    color: var(--idstar-dark-grey);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-left: 1.5px solid var(--idstar-primary);
    border: none;
    color: var(--idstar-primary);
    width: 35%;
    height: 45px;
    font-weight: bolder;
  }
}

.user-about-section {
  padding: 2% 5%;
  padding-top: 4%;

  .heading-row {
    display: flex;
    padding-bottom: 3%;
  }

  .user-description {
    background: var(--idstar-light);
    border-radius: 10px;
    color: var(--idstar-dark-grey);
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    width: 100%;

    --ion-grid-column-padding: 1px;

    .detail {
      font-size: 14px;
      font-family: var(--nunito-family);
      line-height: 1.5;
    }
  }
}

.details-section-title {
  font-size: 16px;
  font-weight: normal;
  color: var(--idstar-primary);
  margin: auto;
  margin-left: 0;

  span {
    font-weight: bold;
  }
}

.edit-item {
  margin-inline-end: 0;
  margin-inline-start: 0;
  margin: 0;
  border-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  --background: var(--idstar-light);
  --ion-grid-column-padding: 1px;

  ion-button {
    font-size: 13px;
    height: 20px;
    --background: var(--idstar-light);
    border: transparent;
    color: var(--idstar-primary);
    --box-shadow: transparent;
  }
}

.add-item {
  margin-inline-end: 0;
  margin-inline-start: 0;
  margin: 0;
  border-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  --background: var(--idstar-light);
  --ion-grid-column-padding: 1px;

  ion-button {
    font-size: 13px;
    height: 20px;
    --background: var(--idstar-light);
    border: transparent;
    color: var(--idstar-primary);
    --box-shadow: transparent;
  }
}

.not {
  font-family: var(--nunito-family);
  text-align: center;
  padding: 5%;

  .not-found {
    font-size: 12px;
    color: var(--idstar-dark-grey);
  }
}

.event-history-section {
  padding: 2% 5%;
  padding-top: 4%;

  .heading-row {
    margin-bottom: var(--page-margin);
    justify-content: space-between;
    align-items: center;

    .details-section-title {
      margin: 0px;

      .heading-call-to-action {
        font-family: var(--nunito-family);
        padding: calc(var(--page-margin) / 2) calc(var(--page-margin) / 4);
        color: var(--idstar-primary);
        text-decoration: none;
        line-height: 1.22;
        font-weight: bold;
        font-size: 14px;
      }
    }
  }

  .event-description {
    font-family: var(--nunito-family);
    margin: 0;
    border-radius: 10px;
    padding: 0;
    background: var(--idstar-light);

    ion-col {
      padding: 5%;
      padding-top: 2%;
      padding-bottom: 2%;

      .score {
        color: var(--idstar-primary);
        font-weight: bold;
        font-size: 16px;
        margin: 0;
      }

      .title {
        margin: 0;
        font-size: 12px;
        line-height: 2;
        color: var(--idstar-dark-grey);
      }
    }

    .event {
      border-left: 2px solid var(--idstar-dark);
      border-right: 2px solid var(--idstar-dark);
    }
  }
}

.education-section {
  padding: 2% 5%;
  font-family: var(--nunito-family);
  padding-top: 4%;

  .heading-row {
    justify-content: space-between;
    display: flex;
    padding-bottom: 3%;
  }

  .education-item:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .education-item {
    font-family: var(--nunito-family);
    margin-inline-end: 0;
    margin-inline-start: 0;
    margin: 0;
    padding: 10px;
    color: var(--idstar-dark-grey);
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    --background: var(--idstar-light);
    --ion-grid-column-padding: 1px;

    .item-image {
      margin-right: 5px;

      .education-pict {
        display: inline-block;
        height: 60%;
        margin-top: 20%;
      }
    }

    .education-detail {
      font-family: var(--nunito-family);
      font-size: 11px;
      line-height: 1.5;

      .education-name {
        font-weight: bold;
        font-size: 12px;
      }

      .period {
        display: flex;
        color: var(--idstar-challenge-color);
      }
    }
  }
}

.projects-section {
  padding: 2% 5%;
  margin: 0;
  font-family: var(--nunito-family);
  padding-top: 4%;

  .heading-row {
    justify-content: space-between;
    margin: 0;
    display: flex;
    padding-bottom: 3%;
  }

  .project-item:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .project-item {
    font-family: var(--nunito-family);
    margin-inline-end: 0;
    margin-inline-start: 0;
    margin: 0;
    padding: 10px;
    color: var(--idstar-dark-grey);
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    --background: var(--idstar-light);
    --ion-grid-column-padding: 1px;

    .item-image {
      margin-right: 5px;

      .project-pict {
        width: 70%;
        height: 90%;
        margin-left: 15%;
      }
    }

    .project-detail {
      font-size: 11px;
      line-height: 2;

      .detail {
        line-height: 1.5;
      }

      .project-name {
        font-size: 12px;
        font-weight: bold;
      }

      .period {
        display: flex;
        color: var(--idstar-challenge-color);
      }
    }
  }
}

.user-skill-section {
  font-family: var(--nunito-family);
  padding: 2% 5%;
  --ion-background-color: #ffffff;
  padding-top: 4%;

  .add-item {
    ion-button {
      color: var(--idstar-challenge-color);
    }
  }

  .edit-item {
    ion-button {
      color: var(--idstar-challenge-color);
    }
  }

  .heading-row {
    justify-content: space-between;
    display: flex;
    padding-bottom: 3%;

    h3 {
      margin: auto;
      margin-left: 0;
    }

    .heading-call-to-action {
      padding: calc(var(--page-margin) / 2) calc(var(--page-margin) / 4);
      text-decoration: none;
      color: var(--idstar-dark-grey);
      line-height: 1.22;
      font-size: 14px;
      margin: auto;
    }
  }

  .user-skill-list {
    .user-skill-item {
      font-size: 14px;
      --min-height: 46px;
      --inner-padding-end: 0;
      --background: #ffffff;
    }
  }

  .box {
    margin-inline-end: 0;
    margin-inline-start: 0;
    margin: 0;
    padding: 10px;
    color: var(--ion-color-dark-shade);
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    --background: var(--idstar-light);
    --ion-grid-column-padding: 1px;

    .skill-item-chip {
      --background: var(--idstar-light);
      border: 1px solid #fff;
      font-size: 12px;
      padding-left: 25px;
      padding-right: 25px;
      color: var(--idstar-primary);
    }
  }
}

.referral-container {
  padding: 20px 30px;

  .referral-title {
    font-size: 12px;
    font-weight: 700;
  }

  .referral-description {
    font-size: 12px;
    font-weight: 400;
    margin: 20px 0;
  }

  .referral-button {
    --background: rgb(117, 194, 68);
    --background: linear-gradient(90deg, rgba(117, 194, 68, 1) 0%, rgba(100, 229, 18, 1) 50%);
    font-size: 12px;
    color: var(--idstar-white);
    font-family: var(--montserrat-family);
    --box-shadow: 0 0 32px -7px #75C244;
    height: 34px;
  }
}

.button-container {
  padding: 0 30px;

  .logout-button {
    color: var(--idstar-primary);
    outline-color: var(--idstar-primary);
    --background: none;
    height: 34px;
    --box-shadow: none;
    border: 1px solid var(--idstar-primary);
    border-radius: 5px;
  }
}

@media all and (min-width: 400px) {
  .user-profile-content {
    .background {
      .grid-background {
        .user-details-section {
          width: 35%;
          height: 35%;
        }
      }
    }
  }
}

@media all and (min-width: 768px) {
  .user-profile-content {
    .background {
      background-position-y: 15%;

      .grid-background {
        .user-details-section {
          width: 20%;
          height: 20%;
        }
      }
    }
  }
}

@media all and (min-width: 1024px) {
  .user-profile-content {
    .background {
      background-position-y: 15%;

      .grid-background {
        .user-details-section {
          width: 20%;
          height: 20%;
        }
      }
    }
  }
}
