<ion-header class="education-header" no-border>
    <ion-toolbar>
        <ion-buttons slot="start" (click)="goBack()">
            <ion-icon class="back" name="ios-arrow-back"></ion-icon>
        </ion-buttons>
        <ion-title class="title">
            Pendidikan
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="education-content">
    <form [formGroup]="editEducationForm" class="edit-education-form" (ngSubmit)="saveEducation()">
        <div class="subsection-title">Universitas/Institusi</div>
        <ion-input type="text" placeholder="Universitas/Institusi" formControlName="name"
                   class="ion-no-padding input-text" clearInput autocapitalize="off">
        </ion-input>
        <div class="error-message" *ngIf="editEducationForm.get('name').hasError('required') && isSubmitted">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>Universitas/Institusi dibutuhkan.</span>
        </div>

        <div class="subsection-title">Gelar</div>
        <ion-select no-padding interface="popover" multiple="false" placeholder="Gelar" class="select-item"
                    formControlName="education_level_id">
            <ion-select-option value="1">Bachelor</ion-select-option>
            <ion-select-option value="2">Diploma</ion-select-option>
            <ion-select-option value="3">Master</ion-select-option>
            <ion-select-option value="4">Doctor</ion-select-option>
        </ion-select>
        <div class="error-message"
             *ngIf="editEducationForm.get('education_level_id').hasError('required') && isSubmitted">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>Gelar dibutuhkan.</span>
        </div>

        <div class="subsection-title">Jurusan</div>
        <ion-input type="text" placeholder="Jurusan" formControlName="field_of_study" clearInput autocapitalize="off"
                   class="ion-no-padding input-text">
        </ion-input>
        <div class="error-message" *ngIf="editEducationForm.get('field_of_study').hasError('required') && isSubmitted">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>Jurusan dibutuhkan.</span>
        </div>


        <div class="checkbox-container">
            <ion-checkbox class="checkbox" slot="start" formControlname="checkbox" [(ngModel)]="isset"
                          (ionChange)="onChangeCheckbox()" [ngModelOptions]="{standalone: true}"></ion-checkbox>
            <div class="checkbox-text">Saya masih belajar di sini.</div>
        </div>

        <div class="subsection-title-container" no-padding>
            <div class="subsection-title-container-1">
                <div class="subsection-title">Bulan Mulai</div>
            </div>
            <div class="subsection-title-container-2">
                <div class="subsection-title">Tahun Mulai</div>
            </div>
        </div>

        <div class="date-container">
            <div class="date-container-1">
                <div class="date-el-container">
                    <ion-datetime class="date-el" no-padding display-format="MMM" formControlName="start_period_month"></ion-datetime>
                </div>
                <div class="icon-container-left">
                    <img class="calendar-icon" src="../../../../../assets/icons/calendar-50px.png" alt="">
                </div>
            </div>

            <div class="date-container-2">
                <div class="date-el-container">
                    <ion-datetime class="date-el" no-padding display-format="YYYY" formControlName="start_period_year">
                    </ion-datetime>
                </div>
                <div class="icon-container-right">
                    <img class="calendar-icon" src="../../../../../assets/icons/calendar-50px.png" alt="">
                </div>
            </div>
        </div>

        <div class="error-message"
             *ngIf="(editEducationForm.get('start_period_month').hasError('required') || editEducationForm.get('start_period_year').hasError('required')) && isSubmitted">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>Bulan Mulai dan Tahun Mulai dibutuhkan.</span>
        </div>

        <div class="subsection-title-container" no-padding *ngIf="!isset">
            <div class="subsection-title-container-1">
                <div class="subsection-title">Bulan Selesai</div>
            </div>
            <div class="subsection-title-container-2">
                <div class="subsection-title">Tahun Selesai</div>
            </div>
        </div>

        <div class="date-container" *ngIf="!isset">
            <div class="date-container-1">
                <div class="date-el-container">
                    <ion-datetime class="date-el" no-padding display-format="MMM" formControlName="end_period_month"></ion-datetime>
                </div>
                <div class="icon-container-left">
                    <img class="calendar-icon" src="../../../../../assets/icons/calendar-50px.png" alt="">
                </div>
            </div>

            <div class="date-container-2">
                <div class="date-el-container">
                    <ion-datetime class="date-el" no-padding display-format="YYYY" formControlName="end_period_year">
                    </ion-datetime>
                </div>
                <div class="icon-container-right">
                    <img class="calendar-icon" src="../../../../../assets/icons/calendar-50px.png" alt="">
                </div>
            </div>
        </div>

        <div *ngIf="isset === true" class="ion-text-left">

        </div>
        <div class="error-message"
             *ngIf="(editEducationForm.get('end_period_month').hasError('required') || editEducationForm.get('end_period_year').hasError('required')) && isSubmitted && !isset">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>Bulan Selesai dan Tahun Selesai dibutuhkan.</span>
        </div>
        <div class="error-message" *ngIf="!isset && isSubmitted && validDate()">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>Waktu mulai harus lebih kecil daripada waktu selesai.</span>
        </div>
        <p class="subsection-title">GPA</p>
        <ion-input type="number" placeholder="GPA" formControlName="gpa" clearInput autocapitalize="off"
                   inputmode="decimal" class="ion-no-padding input-text"></ion-input>
        <ng-container *ngFor="let validation of validation_messages.gpa">
            <div class="error-message" *ngIf="editEducationForm.get('gpa').hasError(validation.type) && isSubmitted">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>{{validation.message}}</span>
            </div>
        </ng-container>

        <p class="subsection-title">Deskripsi Pendidikan</p>
        <ion-textarea class="textarea-style" rows="3" placeholder="Deskripsi (min. 20 karakter)"
                      formControlName="description"
                      auto-grow=true></ion-textarea>
        <ng-container *ngFor="let validation of validation_messages.description">
            <div class="error-message"
                 *ngIf="editEducationForm.get('description').hasError(validation.type) && isSubmitted">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>{{validation.message}}</span>
            </div>
        </ng-container>

        <div class="education-save-button-container">
            <ion-button class="education-save-button" expand="block" type="submit">
                Simpan
            </ion-button>
        </div>
    </form>

</ion-content>
