.certification-header {
  color: var(--idstar-dark-grey);

  .back {
    font-size: 22px;
    color: var(--idstar-dark-grey);
  }

  .title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bold;
  }
}

.certification-content {
  --background: var(--idstar-light-grey);

  .certification-null {
    margin: var(--page-margin);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: calc(100% - calc(var(--page-margin) * 2));
  }

  .certification-item {
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    margin: 20px 30px;
    align-items: center;
    padding: 10px 10px 10px 20px;
    background-color: var(--idstar-white);

    .certification-container-1 {
      width: 75%;
      margin-right: 10px;

      .certification-company-name, .certification-position {
        font-weight: 700;
        font-size: 12px;
      }

      .certification-description {
        font-size: 11px;
      }

      .certification-date {
        display: flex;
        flex-direction: row;
        align-items: center;

        .certification-date-1{
          padding: 0;
          display: inline-block;
          font-size: 10px;
        }
      }
    }

    .certification-container-2 {
      width: 25%;
      color: var(--idstar-white);
      font-size: 9px;
      font-weight: 700;

      .button-delete {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 37px;
        background: var(--idstar-red);
        border-radius: 0 12px 0 0;
        margin-bottom: 5px;
      }

      .button-edit {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 37px;
        background: var(--idstar-yellow);
        border-radius: 0 0 12px 0;
      }
    }
  }
}

.certification-footer {
  padding: 24px 37px;

  .certification-add-button {
    margin: 36px 0;
    --background: rgb(117, 194, 68);
    --background: linear-gradient(90deg, rgba(117, 194, 68, 1) 0%, rgba(100, 229, 18, 1) 50%);
    font-size: 12px;
    --color: var(--idstar-white);
    --box-shadow: 0 0 32px -7px #75C244;
    text-align: center;
    margin: 0 auto;
  }
}


.header-toolbar {
  --background: var(--idstar-primary);
}

.title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &-text {
    color: #fff;
    margin: 0;
    font: {
      size: 16px;
      family: var(--nunito-family);
    }
  }
}

.back {
  color: #fff;
  font-size: 22px;
}

:host {
  --page-margin: var(--app-narrow-margin);

}

.no-data{
  margin: var(--page-margin);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: calc(100% - calc(var(--page-margin)*2));
  font-family: var(--nunito-family);
}

.certif-item {
  font-family: var(--nunito-family);
  margin: var(--page-margin);
  background-color: #ffffff;
  // border-top-left-radius: var(--ion-border-radius);
  // border-bottom-right-radius: var(--ion-border-radius);
  padding: 10px 0 10px;
  .certif-content {
    padding-right: 35px;

    .certif-date {
      float: right;
      padding-left: 14px;
      font-size: 12px;
      .certif-date-text {
        display: inline-block;
        font-size: 12px;
      }
    }

    .certif-name {
      p{
        font-size: 14px;
        font-weight: 500;
      }
    }

    .certif-text {
      p{
        font-size: 12px;
      }
    }
  }

  .card-buttons {
    margin: 0;
    --border-radius: 0;
    --box-shadow: none;
    --color: #ffffff;
    --padding-start: 0;
    --padding-end: 0;
    font-size: 12px;
    right: 0;
    position: absolute;
    width: 30px;
    height: 30px;
  }

  .delete-certif-button {
    --background: var(--ion-color-danger);
    top: 2px;
  }

  .edit-certif-button {
    --background: #ffc04a;
    top: 32px;
  }
}
