<ion-header no-border>
  <ion-toolbar class="toolbar-color">
    <ion-title>Activity</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
      <br><ion-label class="text-title ion-padding">Earlier Today</ion-label>
      <ion-item lines="full" class="ion-padding-vertical">
          <ion-row>
            <ion-col size="auto">
              <div class="circle"></div>
            </ion-col>
            <ion-col size="7.6" style="padding-left: 30px; word-break: keep-all;" class="ion-no-padding">
              <div class="text-detail">Rizqiko telah menambahkan Pekerjaan terbaru</div>
              <ion-label class="notification-time" style="margin-top:20px">3 jam yang lalu</ion-label>
            </ion-col>
            <div class="add-margin" style="margin-left:auto;margin-top:4px">
                <ion-icon slot="end" name="ios-more" style="font-size: 1.4em;color: black;"></ion-icon>
            </div>
          </ion-row>
        </ion-item>
        <ion-item lines="full" class="ion-padding-bottom">
          <ion-row>
            <ion-col size="auto">
              <div class="circle"></div>
            </ion-col>
            <ion-col size="7.6" style="padding-left: 30px;word-break: keep-all;" class="ion-no-padding">
              <div class="text-detail">Hafiz Ramadhani telah menambahkan Pekerjaan terbaru</div>
              <ion-label class="notification-time" style="margin-top:20px">20 jam yang lalu</ion-label>
            </ion-col>
            <div class="add-margin" style="margin-left:auto;margin-top:4px">
                <ion-icon slot="end" name="ios-more" style="font-size: 1.4em;color: black;"></ion-icon>
            </div>
          </ion-row>
        </ion-item>
        <ion-label class="text-title ion-padding">Past 7 Days</ion-label>
        <ion-item lines="full" class="ion-padding-vertical">
            <ion-row full>
              <ion-col size="md">
                <div class="circle"></div>
              </ion-col>
              <!-- If length of notification is 50 characters or longer -->
              <ion-col size="7" push="0.8" style="word-break:keep-all;">
                <div class="text-detail">Ini adalah suatu hal yang menarik tidak ada yang majbelabrfla a;jfahgagaho aoghoahgoas haofafhog</div>  
                <ion-label class="notification-time" style="margin-top:20px">7 hari yang lalu</ion-label>
              </ion-col>
              <div class="add-margin" style="margin-left:auto;margin-top:4px">
                  <ion-icon slot="end" name="ios-more" style="font-size: 1.4em;color: black;"></ion-icon>
              </div>
            </ion-row>
        </ion-item>
        <ion-item lines="full" class="ion-padding-bottom">
          <ion-row class="ion-align-items-start" style="bottom: 10px;">
            <ion-col size="auto">
              <div class="circle"></div>
            </ion-col>
            <ion-col size="8.5" style="padding-left: 30px; word-break: keep-all;align-items: flex-start;bottom: 10px" class="ion-padding-top">
              <div class="text-detail">A telah menambahkan pelajaran</div>
              <ion-label class="notification-time" style="margin-top:20px">8 hari yang lalu</ion-label>
            </ion-col>
            <div class="add-margin" style="margin-right:auto;margin-top:4px;position: absolute; right: 17px;">
              <ion-icon slot="end" name="ios-more" style="font-size: 1.4em;color: black;"></ion-icon>
            </div>
          </ion-row>
        </ion-item>
  </ion-grid>
</ion-content>
