<ion-header class="hackathon-header" no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-icon class="back" name="ios-arrow-back" [routerLink]="['/app/home']"></ion-icon>
        </ion-buttons>
        <ion-title class="title">
            <div>Hackathon</div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="hackathon-content">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.8" pullMin="60"
                   pullMax="120">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div class="spinner-container" *ngIf="isHackathonDetailLoading">
        <ion-spinner class="spinner"></ion-spinner>
        <div>Memuat...</div>
    </div>

    <div class="hackkathon-content-column" *ngIf="!isHackathonDetailLoading && hackathonDetail">
        <div class="hacktahon-image-container">
            <img class="hacktahon-image" [src]="hackathonDetail.bannerUrl" alt="">
        </div>

        <div class="hacktahon-title">
            {{hackathonDetail.title}}
        </div>

        <div class="toggle-container">
            <div [ngClass]="{'toggle-content-fill': toggleState === 0, 'toggle-content-outline':toggleState === 1 }"
                 (click)="handleToggleContent(0)">Deskripsi
            </div>
            <div [ngClass]="{'toggle-content-fill': toggleState === 1, 'toggle-content-outline':toggleState === 0 }"
                 (click)="handleToggleContent(1)">Status
            </div>
        </div>

        <div *ngIf="toggleState === 0">
            <div class="description-container">
                <div class="description-text">
                    Deskripsi
                </div>
                <div class="description" [innerHTML]=hackathonDetail.description>
                </div>
            </div>


            <div class="reward-container">
                <div class="reward-text">
                    Hadiah
                </div>
                <div class="reward-detail-container" *ngFor="let prize of hackathonDetail.prizes">
                    <div class="reward-detail-content-container">
                        <div class="medal-image-container">
                            <img class="medal-image" [src]="prize.rewardIconUrl" alt="">
                        </div>

                        <div class="reward-detail-text-container">
                            <div class="reward-detail-text">{{prize.name}}</div>
                            <div class="reward-detail-text">{{prize.reward}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="requirement-container">
                <div class="requirement-text">
                    Persyaratan
                </div>
                <div class="requirement" [innerHTML]=hackathonDetail.requirement>
                </div>
            </div>

            <div class="timeline" *ngFor="let schedule of hackathonDetail.schedules">
                <div class="container">
                    <div class="green-dot"></div>
                    <div class="timeline-icon-container">
                        <img class="timeline-icon" [src]="schedule.iconUrl" alt="">
                    </div>
                    <div class="timeline-text-container">
                        <div class="timeline-text-1">{{schedule.name}}</div>
                        <div class="timeline-text-2">{{schedule.startDate}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="toggleState === 1">
            <div *ngIf="!auth.token">
                <div class="container-1">
                    <div class="illustration-wrapper">
                        <img src="./assets/images/Saly-17.svg" style="background-color: transparent">
                    </div>

                    <div class="modal-title">Maaf</div>
                    <div class="modal-text">Untuk dapat mengakses halaman ini,</div>
                    <div class="modal-text">harap masuk terlebih dahulu</div>
                    <div class="ion-text-center">
                        <ion-button class="go-login-btn" expand="block" fill="outline"
                                    (click)="handleLoginButtonClick()">Masuk
                        </ion-button>
                    </div>
                </div>
            </div>

            <div *ngIf="auth.token && hackathonDetail.isJoinable">
                <div class="message-body">
                    <div class="title">Oops!</div>
                    <div class="content">Anda harus registrasi akun terlebih dahulu
                        agar dapat mengikuti hackathon ini!
                    </div>
                </div>
            </div>

            <div *ngIf="auth.token && !hackathonDetail.isJoinable">
                <div class="status-text-container">
                    <div class="status-text">Status</div>
                </div>
                <div class="timeline-container">
                    <div class="horizontal-line"></div>
                    <div class="timeline-icon-container-2">
                        <div *ngFor="let schedule of hackathonDetail.schedules">
                            <img class="timeline-icon" [src]="schedule.iconStatusUrl" alt="">
                        </div>
                    </div>
                </div>
                <div class="status-detail-container"
                     *ngIf="hackathonDetail.schedules[hackathonDetail.currentIndexSchedule].status !== 'Failed'">
                    <div class="status-detail-container-1">
                        <div class="status-detail-text-1">{{hackathonDetail.schedules[hackathonDetail.currentIndexSchedule].name}}</div>
                        <div class="status-detail-text-2">{{hackathonDetail.schedules[hackathonDetail.currentIndexSchedule].startDate}}</div>
                        <div class="status-detail-text-3">{{hackathonDetail.schedules[hackathonDetail.currentIndexSchedule].description}}
                        </div>
                    </div>
                    <div class="status-detail-container-2">
                        <div class="status-detail-text-5">{{hackathonDetail.schedules[hackathonDetail.currentIndexSchedule].nextScheduleMessage}}</div>
                        <div class="status-detail-text-4">{{hackathonDetail.schedules[hackathonDetail.currentIndexSchedule].nextScheduleDate}}</div>
                    </div>
                </div>
                <div class="status-detail-container-failed" *ngIf="hackathonDetail.schedules[hackathonDetail.currentIndexSchedule].status === 'Failed'">
                    <div class="status-detail-text-failed">{{hackathonDetail.failedMessage}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>

<ion-footer class="hackathon-footer" *ngIf="hackathonDetail">
    <ion-button [disabled]="!auth.token || !hackathonDetail.isJoinable" class="signup-button" expand="block"
                [routerLink]="['/app/hackathon/registration']">Daftar Hackathon
    </ion-button>
</ion-footer>
