<ion-header no-border>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-icon class="back" name="ios-arrow-back" [routerLink]="['/app/home']"></ion-icon>
      </ion-buttons>
      <ion-title class="title">
          <div>Voting</div>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class= hackathon-content-column>
   <div class="hackathon-title">
     Topics
   </div>
   <ion-grid>
     <ion-row>
       <!-- <ion-col mode="md"  size= "12" size-xs= "6" size-sm ="4"size-md="3" *ngFor="let topic of topics" >
         <ion-card mode="md">
           <ion-card-header mode="md" >
             <ion-card-subtitle class= "hackathon-card-header"><img [src]="(topic.candidateIconURL)" class= "hackathon-card-icon"></ion-card-subtitle>
             <ion-card-title  class= "card-text">{{candidate.candidateName}}</ion-card-title>
           </ion-card-header>
           <ion-card-content mode="md">
             <ion-button mode="md"  class= "button-fill" (click)="voteClick(candidate.candidateIconURL, candidate.candidateName, candidate.candidateChoice_id)"> Vote </ion-button>
           </ion-card-content>
         </ion-card>
       </ion-col> -->
     </ion-row>
   </ion-grid>
 </ion-content>
