<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    <ion-title>Redeem Menu</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let p of products" class="ion-margin">
    <ion-card-header [routerLink]="['/app/user/redeem-points/redeem-item',p.id]" style="border-bottom: 1px dotted">
      <ion-card-title>{{p.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-row>
        <ion-col size="12" class="ion-no-padding">
            <app-aspect-ratio [ratio]="{w:2.5, h:1}" style="position: relative; height: 60px;width: 100%;max-height: 100px;">
              <app-image-shell animation="spinner" [src]="itemPicture">
              </app-image-shell>
            </app-aspect-ratio>
        </ion-col>
        <ion-col size="12" style="display: flex; align-items: center; padding: 20px 20px 0 20px;color: black;font-weight: 500;font-size: 16px;">
          {{p.description}}
        </ion-col>
        <ion-col size="12" style="display: flex; align-items: center; padding: 10px 0 10px 20px;color: #f23934;font-weight: 500;font-size: 20px;">
          {{p.price}} Point
        </ion-col>
        <ion-col size="12" style="text-align: right;">
          <ion-button color="danger" fill="solid" shape="round" [routerLink]="['/app/user/redeem-points/redeem-item',p.id]">
            <div style="color: whitesmoke;">Redeem</div>
          </ion-button>
        </ion-col>
        <!-- <ion-col size="3" style="display: inline-block;margin-right: 5px;">
          <img src="../../../assets/images/crown-gold.png" style="max-width: 100px;">
        </ion-col>
        <ion-col style="display: flex; align-items: center; padding-right: 10px;">
          <p color="primary" style="display: block">
            {{p.description}}
          </p>
        </ion-col>
        <ion-col size="auto" style="display: flex; align-items: center;font-weight: 500;font-size: 16px">
          <ion-label>{{p.price}}</ion-label>
        </ion-col>
        <ion-col size="12">
          <div class="add" style="text-align: right;" class="ion-padding-left">
              <ion-button color="white" style="width:50px" *ngIf="confirmEmpty">
              <p style="color:black">{{0}}</p>
          </ion-button> -->
          <!-- </div>
          <ion-label>Items available : 100</ion-label> -->
      </ion-row>
    </ion-card-content>
  </ion-card>
  <div style="padding-bottom: 10vh;"></div>
</ion-content>
