.certification-header {
  color: var(--idstar-dark-grey);

  .back {
    font-size: 22px;
    color: var(--idstar-dark-grey);
  }

  .title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bold;
  }
}

.certification-content {
  --background: var(--idstar-light-grey);

  .edit-certification-form {
    padding: 20px 30px;

    .subsection-title-container {
      display: flex;
      flex-direction: row;

      .subsection-title-container-1, .subsection-title-container-2 {
        width: 50%;
      }

      .subsection-title-container-1 {
        margin-right: 16px;
      }

      .subsection-title-container-2 {
        margin-left: 16px;
      }
    }

    .subsection-title {
      font-size: 12px;
      font-weight: 700;
      color: var(--idstar-dark-grey);
      padding-top: 5%;
      padding-bottom: 2%;
      margin: 0;
    }

    .checkbox-container {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .date-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 5px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.13);

      .date-el-container {
        display: flex;
        flex-direction: row;
        width: 90%;

        .date-el {
          font-size: 12px;
          width: 100%;
        }
      }

      .icon-container-right {
        width: 10%;

        .calendar-icon {
          width: 20px;
        }
      }
    }

    .input-text {
      font-size: 12px;
      font-weight: 400;
      border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    }

    .textarea-style {
      font-size: 12px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.13);
      padding-bottom: 5px;
    }

    .upload-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-top: 5%;
      padding-bottom: 2%;

      .upload-button-container {
        .upload-icon {
          height: 38px;
          width: 38px;
        }
      }

      .file-name-container {
        font-size: 9px;
        font-weight: 400;
        margin-left: 14px;
        width: 80%;
      }
    }
  }

  .certification-save-button-container {
    padding: 24px 37px;

    .certification-save-button {
      margin: 36px 0;
      --background: rgb(117, 194, 68);
      --background: linear-gradient(90deg, rgba(117, 194, 68, 1) 0%, rgba(100, 229, 18, 1) 50%);
      font-size: 12px;
      --color: var(--idstar-white);
      --box-shadow: 0 0 32px -7px #75C244;
      text-align: center;
      margin: 0 auto;
    }
  }
}
