// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-fair-margin);
  --page-background: var(--app-background);
  --page-tags-vertical-gutter: 2px;
  --page-tags-horizontal-gutter: 4px;
  --page-places-gutter: 5px;
  --page-color: #00afff;

  background-color: var(--idstar-light-grey);
}

ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
}

.job-detail-header {
  position: absolute;
  --background: transparent;
  --ion-color-base: transparent !important;

  .back-button {
    opacity: 1;
  }
}

.title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &-text {
    color: black;
    margin: 0;
    font: {
      size: 16px;
      family: var(--nunito-family);
    }
  }
}

.back {
  color: #fff;
  font-size: 22px;
}

// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.travel-details-content {
  --color: var(--idstar-dark-grey);
  overflow: scroll;
  background-attachment: scroll;

  .container {
    padding-bottom: 17%;
    position: relative;
    top: -10%;
    left: 5%;
  }

  .lower {
    background-color: var(--idstar-white);
    position: relative;

    .toggle-container {
      padding: 0 20%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 18px;

      .toggle-content-fill {
        padding: 8px 15px;
        border-radius: 5px;
        font-size: 10px;
        font-weight: 700;
        background-color: var(--idstar-light-green);
      }

      .toggle-content-outline {
        padding: 8px 15px;
        border-radius: 5px;
        font-size: 10px;
        font-weight: 700;
        background-color: var(--idstar-light-grey);
        color: var(--idstar-grey);
      }
    }

    .description-title {
      background-color: var(--idstar-primary-shade);
      padding: 60px 15px 15px;
      margin-bottom: 10px;

      .details-location {
        color: var(--idstar-grey);
      }

      p {
        margin: 0;
        font-size: 13px;
        color: var(--idstar-dark-grey);
      }

      .job-detail-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
      }

      .location-container, .job-type-detail-container {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        padding-top: 20px;
        width: 50%;
      }

      .location-container {
        padding-left: 10%;
      }

      .job-type-detail-container {
        padding-right: 10%;
      }

      .icon-location, .icon-building {
        color: var(--idstar-primary);
        margin-right: 9px;
      }

      .job-location, .job-company {
        color: var(--idstar-dark-grey);;
        font-weight: 300;
        font-size: 11px;
        text-align: left;
      }
    }

    .details-name {
      margin: 0;
      font-size: 14px;
      font-weight: 700;
      color: var(--idstar-dark-grey);
    }

    .detail {
      font-size: 10px;
      color: var(--idstar-dark-grey);
    }

    .job-desc {
      padding: 20px 30px 30px 30px;
      margin-bottom: 10px;
    }

    .job-req {
      padding: 20px 30px 30px 30px;
      margin-bottom: 10px;
    }
  }
}

.upper {
  position: relative;
  padding-top: 25%;
  background-image: url('assets/new-assets/Image 14.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;

  .image {
    height: 80px;
    width: 80px;
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
  }
}

.job-title {
  font-size: 22px;
  text-align: center;
  font-weight: 700;
  --color: var(--idstar-dark-grey);
}

.apply-btn-container {
  padding: 24px 37px;

  .apply-btn {
    margin: 36px 0;
    width: 90%;
    --background: rgb(117, 194, 68);
    --background: linear-gradient(90deg, rgba(117, 194, 68, 1) 0%, rgba(100, 229, 18, 1) 50%);
    font-size: 12px;
    color: var(--idstar-white);
    font-family: var(--montserrat-family);
    --box-shadow: 0 0 32px -7px #75C244;
    text-align: center;
    margin: 0 auto;
  }
}

.detail {
  margin: 15px 0 0;
  color: var(--idstar-dark-grey);
}

.ios .apply-btn-container {
  margin-top: 5%;
  position: fixed;
  bottom: 0;
  width: 100%;
}
