.container {
  height: 80vh;
  width: 100vw;
  font-family: var(--montserrat-family);
  display: flex;
  justify-content: center;
  align-items: center;

  .illustration-wrapper {
    margin: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-title {
    margin-bottom: 20px;
    color: var(--ion-color-dark);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

  .modal-text {
    color: var(--idstar-grey);
    font-size: 14px;
    text-align: center;
  }

  .go-login-btn {
    margin-top: 30px;
    width: 100%;
    --background: rgb(117, 194, 68);
    --background: linear-gradient(90deg, rgba(117, 194, 68, 1) 0%, rgba(100, 229, 18, 1) 50%);
    font-size: 12px;
    color: var(--idstar-white);
    font-family: var(--nunito-family);
    --box-shadow: 0 0 32px -7px #75C244;
  }
}
