.apply-btn {
    width:100%;
    --background:#f23934;
    font-size:16px;
    color:white;
    --border-radius:50px;
    letter-spacing: 0.9px;
    text-align: center;
  }
  .add-more-btn{
    width:100%;
  }