<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button (click)="recreateToast()" defaultHref="/"></ion-back-button>
      </ion-buttons>
    <ion-title>Redeem Detail</ion-title>
  </ion-toolbar>
</ion-header>
<ion-card no-border style="overflow: auto; max-height: 90%;">
  <ion-card-header>
    <ion-card-title>Order Confirmation</ion-card-title>
  </ion-card-header>
  <ion-item *ngIf="cart.length === 0">You dont have any product to redeem</ion-item>
      <ion-list class="ion-no-padding" *ngFor="let c of cart">
          <!-- <ion-item lines="none" class="ion-padding-vertical item-styling" style="display: block;">
              <ion-row class="ion-align-items-center" style="padding-bottom: 40px;">
                <ion-col>{{c.name}}</ion-col>
                <div class="ion-padding-horizontal" style="position: absolute;right: 0;">{{c.price}}</div>
                <div class="add" style="position:absolute;right: 0;padding-right: 12px;padding-top: 50px;" class="ion-padding-left">
                  <ion-button (click)="decreaseCart(c)" color="tertiary" style="width: 40px;">
                      <ion-icon name="remove" style="font-size: 50px;"></ion-icon>
                  </ion-button>
                  <ion-button color="white" style="width:50px" disabled="true">
                      <p style="color:black">{{c.amount}}</p>
                  </ion-button>
                  <ion-button (click)="addToCart(c)" color="tertiary" style="width: 40px;">
                    <ion-icon name="add" style="font-size: 50px"></ion-icon>
                  </ion-button>
                </div> 
              </ion-row>
              <br>

          </ion-item> -->
          <ion-row class="ion-padding">
            <ion-col style="font-size: 20px; font-weight: 500;">{{c.name}}</ion-col>
            <ion-col size="auto" style="display: flex; align-items: center; font-size: 16px;">{{c.price}}</ion-col>
            <ion-col size="12" style="text-align: right;">
              <div class="add" class="ion-padding-left">
                <ion-button (click)="decreaseCart(c)" color="tertiary" style="width: 40px;">
                    <ion-icon name="remove" style="font-size: 50px;"></ion-icon>
                </ion-button>
                <ion-button color="white" style="width:50px" disabled="true">
                    <p style="color:black">{{c.amount}}</p>
                </ion-button>
                <ion-button (click)="addToCart(c)" color="tertiary" style="width: 40px;">
                  <ion-icon name="add" style="font-size: 50px"></ion-icon>
                </ion-button>
              </div> 
            </ion-col>
          </ion-row>
      </ion-list>
  </ion-card>
<ion-item lines="none" style="padding: 15px;">
    <ion-button class="ion-no-padding add-more-btn" style="width: 90%;padding-left: 15%;height: 30px;--background: #698474; display: block; justify-content: center;" (click)="addMoreProduct()">
      <ion-icon slot="start" name="add"></ion-icon>
      <ion-label class="ion-text-center">Add more product</ion-label>
    </ion-button>
</ion-item>
<ion-item lines="full" class="ion-no-padding ion-margin" style="padding-left: 15px;padding-right: 15px;max-height: 100px;height: 8%;
min-height: 20px;">
    <ion-text color="primary">
      Harga total
    </ion-text>
    <div style="position: absolute;right: 0;">{{this.cartService.TotalPrice}}</div>
</ion-item> 
<!-- <ion-row style="margin: calc(var(--page-margin) / 2) 20px;"> -->
<ion-row style="margin: 0 20px 20px;">
  <ion-button class="apply-btn" type="submit" expand="block" (click)="confirm()" [disabled]="status">
    <div>Confirm</div>
  </ion-button>
</ion-row>
<ion-content>

</ion-content>
