<ion-header class="hackathon-registration-header" no-border>
    <ion-toolbar>
        <ion-buttons slot="start" (click)="goBack()">
            <ion-icon class="back" name="ios-arrow-back"></ion-icon>
        </ion-buttons>
        <ion-title class="title">
            <div>Registrasi Hackathon</div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="hackathon-registration-content">
    <form [formGroup]="hackathonForm" class="hackathon-registration-form">
        <div class="subsection-title">Nama Perguruan Tinggi</div>
        <ion-input type="text" placeholder="Misal: Universitas Bina Nusantara" formControlName="universityName"
                   class="ion-no-padding input-text" clearInput autocapitalize="off">
        </ion-input>

        <div class="subsection-title">Semester Saat Ini</div>
        <ion-select formControlName="semester" multiple="false" interface="popover" placeholder="7"
                    class="select-item">
            <ion-select-option value="6">6</ion-select-option>
            <ion-select-option value="7">7</ion-select-option>
            <ion-select-option value="8">8</ion-select-option>
        </ion-select>

        <div class="subsection-title">Unggah KTP</div>
        <div class="upload-container">
            <div class="upload-button-container">
                <img (click)="chooseFile()" class="upload-icon" src="../../../../../assets/icons/upload.svg" alt="">
            </div>
            <div *ngIf="!getfileName()" class="file-name-container">*Unggah KTP (format jpg / png maksimal 5mb)</div>
            <div *ngIf="getfileName()" class="file-name-container">{{getfileName()}}</div>
        </div>

        <div class="subsection-title">Unggah Kartu Mahasiswa</div>
        <div class="upload-container">
            <div class="upload-button-container">
                <img (click)="chooseFile()" class="upload-icon" src="../../../../../assets/icons/upload.svg" alt="">
            </div>
            <div *ngIf="!getfileName()" class="file-name-container">*Unggah KTP (format jpg / png maksimal 5mb)</div>
            <div *ngIf="getfileName()" class="file-name-container">{{getfileName()}}</div>
        </div>

        <div class="subsection-title">Unggah Transkrip Nilai</div>
        <div class="upload-container">
            <div class="upload-button-container">
                <img (click)="chooseFile()" class="upload-icon" src="../../../../../assets/icons/upload.svg" alt="">
            </div>
            <div *ngIf="!getfileName()" class="file-name-container">*Unggah KTP (format jpg / png maksimal 5mb)</div>
            <div *ngIf="getfileName()" class="file-name-container">{{getfileName()}}</div>
        </div>
    </form>

    <div class="checkbox-content-container">
        <div class="checkbox-container">
            <ion-checkbox class="checkbox"
                          [(ngModel)]="isWillingToFollowRules"
                          [ngModelOptions]="{standalone: true}">
            </ion-checkbox>
        </div>
        <div class="checkbox-text">
            Saya bersedia mengikuti peraturan hackathon dan bersedia mengikuti hackathon hingga akhir
        </div>
    </div>

    <div class="registration-button-container">
        <ion-button class="registration-button" expand="block" (click)="handleRegistrationClick()">
            Daftar Hackathon
        </ion-button>
    </div>
</ion-content>
