<ion-header class="hackathon-registration-header" no-border>
    <ion-toolbar>
        <ion-buttons slot="start" (click)="goBack()">
            <ion-icon class="back" name="ios-arrow-back"></ion-icon>
        </ion-buttons>
        <ion-title class="title">
            <div>Hackathon Registration </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="hackathon-registration-content">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.8" pullMin="60"
                   pullMax="120">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div class="spinner-container" *ngIf="hackathonRegistrationService.isLoading">
        <ion-spinner class="spinner"></ion-spinner>
        <div>{{hackathonRegistrationService.loadingMessage}}</div>
    </div>

    <form [formGroup]="hackathonForm" class="hackathon-registration-form" *ngIf="!hackathonRegistrationService.isLoading">
        <div class="subsection-title">University</div>
        <ion-input type="text" placeholder="Example: Universitas Bina Nusantara" formControlName="university"
                   class="ion-no-padding input-text" clearInput autocapitalize="off">
        </ion-input>
        <div class="error-message" *ngIf="hackathonForm.get('university').hasError('required') && isSubmitted">
            <span>Please Input University Name.</span>
        </div>

        <div class="subsection-title">Major</div>
        <ion-input type="text" placeholder="Example: Teknik Informatika" formControlName="major"
                   class="ion-no-padding input-text" clearInput autocapitalize="off">
        </ion-input>
        <div class="error-message" *ngIf="hackathonForm.get('major').hasError('required') && isSubmitted">
            <span>Please Input Your Major.</span>
        </div>

        <div class="subsection-title">Current Semester</div>
        <ion-select formControlName="semester" multiple="false" interface="popover" placeholder="7"
                    class="select-item">
            <ion-select-option *ngFor="let semester of hackathonRegistrationDetail.semesters"
                               [value]="semester">{{semester}}</ion-select-option>
        </ion-select>
        <div class="error-message" *ngIf="hackathonForm.get('semester').hasError('required') && isSubmitted">
            <span>Please Input Your Current Semester</span>
        </div>

        <div class="subsection-title">Country</div>
        <ion-select formControlName="country" multiple="false" interface="popover" 
                    class="select-item">
            <ion-select-option 
                value="indonesia">Indonesia
            </ion-select-option>
            <ion-select-option 
                value="malaysia">Malaysia
            </ion-select-option>
        </ion-select>
        <div class="error-message" *ngIf="hackathonForm.get('country').hasError('required') && isSubmitted">
            <span>Please Input Your Country</span>
        </div>

        <div class="subsection-title">City</div>
        <ion-input type="text" placeholder="Example: Jakarta Selatan" formControlName="city"
                   class="ion-no-padding input-text" clearInput autocapitalize="off">
        </ion-input>
        <div class="error-message" *ngIf="hackathonForm.get('city').hasError('required') && isSubmitted">
            <span>Please Input City.</span>
        </div>
        


        <div class="subsection-title">Upload ID Card</div>
        <div class="upload-container">
            <div class="upload-button-container">
                <img (click)="chooseFileMethod(0)" (change)="getfileName(0)" class="upload-icon" [src]="hackathonRegistrationDetail.imageUrl" alt="">
            </div>
            <div *ngIf="!getfileName(0)" class="file-name-container">*Upload ID Card (format jpg / png max 5mb)</div>
            <div *ngIf="getfileName(0)" class="file-name-container">{{getfileName(0)}}</div>
        </div>
        <div class="error-message" *ngIf="!getfileName(0) && isSubmitted">
            <span>Please Upload Your ID Card.</span>
        </div>

        <div class="subsection-title">Upload Student Card</div>
        <div class="upload-container">
            <div class="upload-button-container">
                <img (click)="chooseFileMethod(1)" class="upload-icon" [src]="hackathonRegistrationDetail.imageUrl" alt="">
            </div>
            <div *ngIf="!getfileName(1)" class="file-name-container">*Upload Student Card (format jpg / png max 5mb)</div>
            <div *ngIf="getfileName(1)" class="file-name-container">{{getfileName(1)}}</div>
        </div>
        <div class="error-message" *ngIf="!getfileName(1) && isSubmitted">
            <span>Please Upload Your Student Card.</span>
        </div>

        <div class="subsection-title">Upload Academic Transcript</div>
        <div class="upload-container">
            <div class="upload-button-container">
                <img (click)="chooseFileMethod(2)" class="upload-icon" [src]="hackathonRegistrationDetail.imageUrl" alt="">
            </div>
            <div *ngIf="!getfileName(2)" class="file-name-container">*Upload Academic Transcript (format jpg / png max 5mb)</div>
            <div *ngIf="getfileName(2)" class="file-name-container">{{getfileName(2)}}</div>
        </div>
        <div class="error-message" *ngIf="!getfileName(2) && isSubmitted">
            <span>Please Upload Your Academic Transcript.</span>
        </div>

        <div class="subsection-title">Upload CV</div>
        <div class="upload-container">
            <div class="upload-button-container">
                <img (click)="chooseFileMethod(3)" (change)="getfileName(3)" class="upload-icon" [src]="hackathonRegistrationDetail.imageUrl" alt="">
            </div>
            <div *ngIf="!getfileName(3)" class="file-name-container">*Upload CV (format jpg / png max 5mb)</div>
            <div *ngIf="getfileName(3)" class="file-name-container">{{getfileName(3)}}</div>
        </div>
        <div class="error-message" *ngIf="!getfileName(3) && isSubmitted">
            <span>Please Upload Your CV.</span>
        </div> 


    </form>

    <div class="checkbox-content-container" *ngIf="!hackathonRegistrationService.isLoading">
        <div class="container-1">
            <div class="checkbox-container">
                <ion-checkbox class="checkbox"
                              [(ngModel)]="isWillingToFollowRules"
                              [ngModelOptions]="{standalone: true}">
                </ion-checkbox>
            </div>
            <div class="checkbox-text">
                I am willing to follow the <span class="rules-text" (click)="showRules()">Hackathon terms and conditions</span> and willing to take part in Hackathon until the end of the event.
            </div>
        </div>

        <div class="container-2" *ngIf="!isWillingToFollowRulesValid">
            <div class="error-container"
            >
                <div class="error-message">
                    
                    <div>Please be willing to follow the hackathon rules and take part in the hackathon until the end of the event.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="registration-button-container" *ngIf="!hackathonRegistrationService.isLoading">
        <ion-button type="submit" class="registration-button" expand="block" (click)="handleRegistrationClick()">
            Join Hackathon 
        </ion-button>
    </div>
</ion-content>
