.hackathon-registration-header {
  color: var(--idstar-white);

  .back {
    font-size: 22px;
    color: var(--idstar-dark-grey);
  }

  .title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bold;
  }
}

.hackathon-registration-content {
  .spinner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .spinner {
      margin-bottom: 10px;
    }
  }

  .hackathon-registration-form {
    padding: 20px 30px;

    .subsection-title {
      font-size: 14px;
      font-weight: 700;
      color: var(--idstar-dark-grey);
      padding-top: 5%;
      padding-bottom: 2%;
      margin: 0;
    }

    .input-text {
      font-size: 12px;
      font-weight: 400;
      border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    }

    .select-item {
      font-size: 12px;
      font-weight: 400;
      border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    }

    .upload-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-top: 5%;
      padding-bottom: 2%;

      .upload-button-container {
        .upload-icon {
          height: 38px;
          width: 38px;
        }
      }

      .file-name-container {
        font-size: 9px;
        font-weight: 400;
        margin-left: 14px;
        width: 80%;
      }
    }
  }

  .checkbox-content-container {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    background-color: var(--idstar-grey-4);

    .container-1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      margin-bottom: 10px;

      .checkbox-container {
        .checkbox {
          margin-right: 22px;
          --size: 18px;
          --background: var(--idstar-grey);
          --border-color: var(--idstar-grey);
          --background-checked: var(--idstar-primary);
          --border-color-checked: var(--idstar-primary);
          --checkmark-color: white;
        }
      }

      .checkbox-text {
        font-size: 9px;
      }
    }

    .container-2 {
      .error-container {
        .error-message {
          margin: 0 0 calc(var(--page-margin) / 2);
          display: flex;
          align-items: center;
          align-content: center;
          color: var(--ion-color-danger);
          font-size: 9px;
        }
      }
    }
  }

  .registration-button-container {
    padding: 20px 30px;

    .registration-button {
      margin: 36px 0;
      --background: rgb(117, 194, 68);
      --background: linear-gradient(90deg, rgba(117, 194, 68, 1) 0%, rgba(100, 229, 18, 1) 50%);
      font-size: 12px;
      --color: var(--idstar-white);
      --box-shadow: 0 0 32px -7px #75C244;
      text-align: center;
      margin: 0 auto;
    }
  }
}
