@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-narrow-margin);
  --page-border-radius: var(--app-fair-radius);
  --page-segment-background: var(--app-background);
  --page-segment-indicator-height: 2px;
}

.header {
    color: var(--idstar-dark-grey);
  
    .back {
      font-size: 22px;
      color: var(--idstar-dark-grey);
    }

}

ion-segment-button {
    --padding-end: var(--page-margin);
    --padding-start: var(--page-margin);
    --background: var(--idstar-primary-shade);
    --color-checked: var(--idstar-primary);
    --color: var(--idstar-grey);
    --indicator-color-checked: var(--idstar-primary);

    text-transform: capitalize;
    min-height: calc((var(--page-margin) * 3) - var(--page-segment-indicator-height));

    ion-label {
      margin-top: calc(var(--page-margin) / 2);
      margin-bottom: calc(var(--page-margin) / 4);
    }
}
  
.title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bold;
}

ion-segment-button {
    background-color: var(--idstar-white);
    --padding-end: var(--page-margin);
    --padding-start: var(--page-margin);
    --background: var(--idstar-primary-shade);
    --color-checked: var(--idstar-primary);
    --color: var(--idstar-grey);
    --indicator-color-checked: var(--idstar-primary);

    text-transform: capitalize;
    min-height: calc((var(--page-margin) * 3) - var(--page-segment-indicator-height));

    ion-label {
      margin-top: calc(var(--page-margin) / 2);
      margin-bottom: calc(var(--page-margin) / 4);
    }
}

.content {
    --background: var(--idstar-white);
    // overflow: scroll;
    // background-attachment: scroll;
}
.friend-bar,.request{
    background: white;
    box-shadow: none;
}
.empty-request{
    text-align: center;
}

.friend-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    .icon-container{
        width: 75px;
        .icon{
            object-fit: cover;
            // min-width: 75px;
            // min-height: 75px;
            border-radius: 50%;
        }
        .icon-{
            border-radius: 50%;
        }
    }
    .container-{
        margin-left: 3%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .name{
            font-size: 3.5vw;
            font-weight: bold;
            color: black;
        }
        .job-position{
            font-size: 3vw;
            color: black;
        }
        .container-button{
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-left: 1%;
            .connect{
                width: 25vw;
                height: 6vw;
                font-size: 3vw;
                color : white;
                --background: linear-gradient(90deg, rgba(117, 194, 68, 1) 0%, rgba(100, 229, 18, 1) 50%);
                --box-shadow: none;
            }
            .requested {
                width: 25vw;
                height: 6vw;
                font-size: 3vw;
                color : white;
                --background: grey;
                --box-shadow: none;
            }
            .buttonRemove{
                width: 100%;
                font-size: 3vw;
                color : white;
                --background : rgba(208, 208, 208, 1);
            
            }
        }
    }
    .container-request{
        margin-left: 3%;
        width: 100%;
        display: flex;
        flex-direction: column;

        .name{
            font-size: 3.5vw;
            font-weight: bold;
            color: black;
        }
        .job-position{
            font-size: 3vw;
            color: black;
        }
        .container-button{
            display: flex;
            flex-direction: row;
            justify-content: center;
            
            .accept{
                width: 100%;
                height: 6vw;
                font-size: 3vw;
                color : white;
                --background: linear-gradient(90deg, rgba(117, 194, 68, 1) 0%, rgba(100, 229, 18, 1) 50%);
            
            }
            .decline {
                width: 100%;
                height: 6vw;
                font-size: 3vw;
                color : white;
                --background: grey;
            }
        }
    }
}

.show-more{
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
    padding-top: 2%;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-left: var(--page-margin);
    margin-right: 3%;
}

.friendsSegment{
    padding-bottom: var(--page-margin);
}

  .button-fill {
    width: 100%;
    --background: rgb(117, 194, 68);
    --background: linear-gradient(90deg, rgba(117, 194, 68, 1) 0%, rgba(100, 229, 18, 1) 50%);
    font-size: 13px;
    font-weight: bold;
    color: var(--idstar-white);
    font-family: var(--nunito-family);
    --box-shadow: 0 0 32px -7px #75C244;
  }

  .hackathon-header {
    color: var(--idstar-white);
  
    .back {
      font-size: 22px;
      color: var(--idstar-dark-grey);
    }
  
    .title {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 18px;
      font-weight: bold;
    }
  }
  //Card Icon
    .card-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      .card{
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 50%;
      }
      .card-icon {
        width: 80px;
        height: 80px;
        border-radius: 50%;
      }
    }
    .card-color{
        position: absolute;
    }

  .card-text{
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 13px;
      font-weight: 700;
      color: var(--idstar-dark-grey);
      text-align: center;
      margin-top: 10%;
  }
  .card-text-subtitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 11px;
    font-weight: 500;
    color: var(--idstar-dark-grey);
    text-align: center;
}

.connectedCard{
    height: 243px;
}

.discover{
    color: var(--idstar-primary);
    font-weight: 600;
    --background: var(--idstar-white);
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
}

.know{
    color: var(--idstar-dark-grey);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    margin-top: 5%;
}

.grid{
    border-bottom: 2px solid var(--idstar-grey-4);
}