<ion-content>
    <div class="container">
        <div class="container-1">
            <div class="illustration-wrapper">
                <img src="./assets/images/man-1.svg" style="background-color: transparent">
            </div>

            <div class="modal-title">{{title}}</div>
            <div class="modal-text">{{messageA}}</div>
            <div class="modal-text">{{messageB}}</div>
            <div class="ion-text-center">
                <ion-button class="go-login-btn" (click)="closeModal()">Masuk</ion-button>
            </div>
        </div>
    </div>
</ion-content>
