<ion-content>
  <div class="center">
    <div class="content-wrapper">
      <div class="congrats">Selamat Anda telah mendapatkan achievement baru!</div>
      <div class="center-shape">
      <div class="shape-wrapper">
          <div class="icon-wrapper">
            <ion-icon name="clipboard" class="icon-badge ion-no-padding"></ion-icon>
            <h4 class="text">CPT</h4>
          </div>
        </div>
      </div>
      <div class="achievement-name">10 Friend CV</div>
      <ion-button (click)="close()" class="button">
        Proceed
      </ion-button>
    </div>
  </div>
</ion-content>
