// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
    --page-margin: var(--app-broad-margin);
    --page-background: var(--app-background-shade);
    --item-margin: calc(var(--page-margin) / 2);
    }
    
    // Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
    .forgot-password-content {
    --background: var(--page-background);
    --padding-start: var(--page-margin);
    --padding-end: var(--page-margin);
    --padding-top: var(--page-margin);
    --padding-bottom: var(--page-margin);
    
    .auth-title {
      color: var(--ion-color-primary);
      font-weight: bold;
      margin-top: calc(var(--page-margin) / 2);
      margin-bottom: calc(var(--page-margin) * (3/2));
      letter-spacing: 0.6px;
      font-size: 16px;
    }
    
    .recover-message {
      color: var(--ion-color-medium);
      margin: calc(var(--page-margin) / 2) 0px;
    }
    
    .inputs-list {
      --ion-item-background: var(--page-background);
    
      .input-item {
        // --padding-start: 0px;
        // --inner-padding-end: 0px;
        --padding-end: 0px;
        --border-radius: var(--ion-border-radius);
        --background: #ffffff;
        --min-height: 30px;
        margin-top: var(--item-margin);
    
        .input-item-icon{
          margin: 0;
          margin-right: 10px;
          font-size: 16px;
        }
      }
    
      .error-container {
        .error-message {
          margin: calc(var(--page-margin) / 2) 0px;
          display: flex;
          align-items: center;
          color: var(--ion-color-danger);
          font-size: 14px;
    
          ion-icon {
            padding-inline-end: calc(var(--page-margin) / 2);
          }
        }
      }
    }
    
    .reset-password-btn {
        margin: 0px;
        margin-top: 10px;
        width:100%;
        --background:#f23934;
        --border-radius:50px;
        font-size:16px;
        color:white;
        letter-spacing: 0.9px;
        bottom: 0;
        text-align: center;
    }
}
    