:host {
    --page-margin: var(--app-broad-margin);
    --page-background: var(--app-background-shade);
  
    --page-highlighted-background: #ecf0f0;
    --ion-color-light: #404b59;
    // --page-highlighted-background: var(--ion-color-secondary-tint);
  }
