<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Community
    </ion-title>
    <!-- <ion-searchbar style="--background: white;" placeholder="Search" inputmode="text" type="text" [debounce]="250" mode="ios"></ion-searchbar> -->
  </ion-toolbar>
</ion-header>

<ion-content slot="fixed" forceOverscroll="false">
  <ion-tabs>
    <ion-tab-bar slot="top" class="tab-bar">
      <ion-tab-button tab="leaderboard">
        <ion-label>Leaderboard</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="challenges">
        <ion-label>Challenges</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="level">
        <ion-label>Level</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>