<ion-header class="jobs-header">
  <ion-toolbar class="header-toolbar">
      <ion-buttons slot="start" (click)="onBackClick()">
          <ion-icon class="back" name="ios-arrow-back"></ion-icon>
      </ion-buttons>
      <ion-title class="title">
        Temukan Teman Kamu!
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <section class="friendsSegment">
    <div class="header-container">
      <div class="search">
        <ion-searchbar #sb showCancelButton="focus"
                       placeholder="Cari Teman"
                       search-icon="search" animated mode="md" [debounce]="500" inputmode="search"
                       (ionChange)="searchList($event)"
                       [value]="selectedItem" autocomplete>

        </ion-searchbar>
      </div>
    </div>
    <div *ngIf="!searched" class="spinner-container">
      <ion-spinner class="spinner">Loading</ion-spinner>
      <div>Loading</div>
    </div>
    <div *ngIf="!noSearch && searched">
      <div *ngIf="searched && searched.length === 0" class="ion-text-center">
        <div *ngIf="wait" class="notfound">
          <div>
              Tidak dapat menemukan nama teman <br> yang cocok dengan kata kunci.
          </div>
        </div>
        <div *ngIf="!wait" class="spinning">
          <ion-spinner class="spinner">Memuat</ion-spinner>
          <div>Memuat</div>
        </div>
      </div>
      <div *ngIf="searched">
        <ion-card class="friend-bar" *ngFor="let list of searched; let i = index;"> 
          <ion-card-content class="user-applied-jobs-content">
              <ion-grid class="ion-no-padding applied-jobs-grid">
                  <ion-row class="applied-jobs-row">
                      <ion-col class="ion-no-padding job-details">
                          <div class="friend-container">
                              <div class="icon-container" [routerLink]="['/', 'app', 'connection', 'myconnection', 'details', list.user_id]">
                                  <img *ngIf="list.profile_picture_url" class="icon"
                                      [src]="(list.profile_picture_url)">
                                  <img *ngIf="!list.profile_picture_url" class="icon-"
                                  src="./assets/sample-images/user/default-profile.svg">
                              </div>
                              <div class="container-">
                                <div [routerLink]="['/', 'app', 'connection', 'myconnection', 'details', list.user_id]">
                                  <div class="name">{{list.fullname}}</div>
                                  <div class="job-position">{{list.job_title}}</div>
                                </div>
                                  <div class="container-button">
                                    <ion-button *ngIf="!list.requested" (click)="requestConnection(list.user_id, i)" class="connect">Connect</ion-button>
                                    <ion-button *ngIf="list.requested" (click)="cancelRequestConnection(list.user_id, i)" class="requested">Requested</ion-button>
                                    <ion-button *ngIf="list.requested && list.connected" class="requested">Connected</ion-button>
                                  </div>
                              </div>
                          </div>
                      </ion-col>
                  </ion-row>
              </ion-grid>
          </ion-card-content>
      </ion-card>
      </div>
    </div>
    <div *ngIf="noSearch">
      <ion-card class="friend-bar" *ngFor="let list of connection; let i = index;"> 
        <ion-card-content class="user-applied-jobs-content">
            <ion-grid class="ion-no-padding applied-jobs-grid">
                <ion-row class="applied-jobs-row">
                    <ion-col class="ion-no-padding job-details">
                        <div class="friend-container">
                            <div class="icon-container" [routerLink]="['/', 'app', 'connection', 'myconnection', 'details', list.user_id]">
                                <img *ngIf="list.profile_picture_url" class="icon"
                                    [src]="(list.profile_picture_url)">
                                <img *ngIf="!list.profile_picture_url" class="icon-"
                                src="./assets/sample-images/user/default-profile.svg">
                            </div>
                            <div class="container-">
                              <div [routerLink]="['/', 'app', 'connection', 'myconnection', 'details', list.user_id]">
                                <div class="name">{{list.fullname}}</div>
                                <div class="job-position">{{list.job_title}}</div>
                              </div>
                                <div class="container-button">
                                  <ion-button *ngIf="!list.requested" (click)="requestConnection(list.user_id, i)" class="connect">Connect</ion-button>
                                  <ion-button *ngIf="list.requested" (click)="cancelRequestConnection(list.user_id, i)" class="requested">Requested</ion-button>
                                  <ion-button *ngIf="list.requested && list.connected" class="requested">Connected</ion-button>
                                </div>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
    <ion-infinite-scroll threshold="0.1%" (ionInfinite)="loadConnectionDiscover($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    </div>
  </section>
</ion-content>
