<ion-content class="travel-details-content">
  <div class="background-page">
    <ion-header class="header" no-border>
      <ion-toolbar class="header-toolbar">
        <ion-buttons slot="start">
          <ion-button href="/">
            <ion-icon class="back" name="ios-arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title class="title">
          <p class="title-text">Event Detail</p>
        </ion-title>
      </ion-toolbar>
</ion-header>

  <ion-row class="image-row">
    <ion-col size="12">
      <img src="assets/new-assets/Image 6.png" alt="" class="image">
      <!-- <app-aspect-ratio [ratio]="{w:35, h:20}">
        <app-image-shell  animation="spinner" class="add-overlay details-image" [src]="details?.event_banner_url">
          <app-aspect-ratio [ratio]="{w:64, h:40}">
          <div class="icon-wrapper">
            <app-aspect-ratio [ratio]="{w: 47, h: 25}">
              <app-image-shell [src]="details?.icon" class="details-icon"></app-image-shell>
            </app-aspect-ratio>
          </div>
        </app-aspect-ratio>
      </app-image-shell>
    </app-aspect-ratio> -->
  </ion-col>
  </ion-row>
  


<!-- DEFAULT -->



<ion-row class="time-and-type">
    <ion-col class="time" size="10">
      <p>June 12, 2020</p>
      <!-- <app-text-shell [data]="details?.event_date"></app-text-shell> -->
    </ion-col>
    <ion-col class="type">
      <p>Event</p>
    </ion-col>
  </ion-row>
  
  <ion-row class="description-row">
    <ion-col size="12">
      <h3 class="details-name">
        <!-- <app-text-shell animation="bouncing" [data]="details?.event_title"></app-text-shell> -->
        DigiMarCon West 2020 – Digital Marketing Stategy Conference & Exhibition
      </h3>  
    </ion-col>
    <ion-col size="12" class="details-description">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </ion-col>
  </ion-row>
  
  <ion-grid fixed class="grid">
    <ion-row class="button-wrapper">
      <ion-button class="apply-btn" type="submit" expand="block" href="/app/home/event-registration">REGISTER NOW</ion-button>
    </ion-row>
  </ion-grid>




<!-- REGISTERED -->


  <!-- <div class="box">
    <ion-grid fixed class="ion-no-padding">
      <ion-row>
        <ion-col size="2.5" class="detail-title">Event</ion-col>
        <ion-col size=".5" class="dot">:</ion-col>
        <ion-col size="9" class="detail">DigiMarCon West 2020 – Digital Marketing Stategy Conference & Exhibition</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2.5" class="detail-title">Due date</ion-col>
        <ion-col size=".5" class="dot">:</ion-col>
        <ion-col size="9" class="detail">June 12, 2020</ion-col>
        <app-text-shell [data]="details?.event_date"></app-text-shell>
      </ion-row>
      <ion-row>
        <ion-col size="2.5" class="detail-title">Status</ion-col>
        <ion-col size=".5" class="dot">:</ion-col>
        <ion-col size="9" >
          <div class="status">
            WAITING FOR APPROVAL
            <app-text-shell [data]="details.event_join_status"></app-text-shell>
          </div>
          <div class="status2">
            APPROVED
            <app-text-shell [data]="details.event_join_status"></app-text-shell>
          </div>
        </ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col size="2.5" class="detail-title">Desc.</ion-col>
        <ion-col size=".5" class="dot">:</ion-col>
        <ion-col size="9" class="detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</ion-col>
      </ion-row>
    </ion-grid>
  </div>
     -->
</div>
  </ion-content>
  