<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/auth/login"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="main-container">
        <div class="box">
            <div class="auth-title">Reset Password</div>
            <div class="recover-message">
                Masukkan email yang terhubung dengan akun Anda dan
                kami akan mengirim email untuk mereset password
            </div>
            <form class="form" [formGroup]="forgotPasswordForm" (ngSubmit)="recoverPassword()">
                <ion-list class="inputs-list" lines="full">
                    <p class="subsection-title">Email</p>
                    <ion-item class="input-item">
                        <ion-input class="input-class" type="email" placeholder="Email Anda" formControlName="email"
                                   clearInput
                                   autocapitalize="off" inputmode="email"></ion-input>
                    </ion-item>
                    <div class="error-container">
                        <ng-container *ngFor="let validation of validation_messages.email">
                            <div class="error-message"
                                 *ngIf="forgotPasswordForm.get('email').hasError(validation.type) && (forgotPasswordForm.get('email').dirty || forgotPasswordForm.get('email').touched)">
                                <ion-icon name="information-circle-outline"></ion-icon>
                                <span>{{ validation.message }}</span>
                            </div>
                        </ng-container>
                    </div>

                    <ion-button class="reset-password-btn" type="submit"
                                [disabled]="!forgotPasswordForm.valid">
                        Kirim Intruksi
                    </ion-button>
                </ion-list>
            </form>
        </div>
    </div>
</ion-content>
