<ion-header class="news-detail-header" no-border>
    <ion-toolbar class="toolbar">
        <ion-buttons slot="start" (click)="handleButtonBackClick()">
            <ion-icon class="back" name="ios-arrow-back"></ion-icon>
        </ion-buttons>
        <ion-title class="title">
            Detail Berita
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="news-content">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div class="image-row">
        <div size="12" *ngIf="newsDetail?.isShell">
            <app-aspect-ratio>
                <app-image-shell animation="gradient"></app-image-shell>
            </app-aspect-ratio>
        </div>
        <div size="12" *ngIf="!newsDetail?.isShell">
            <div class="image-container">
                <img *ngIf="this.newsDetail.data.newsPhoto" [src]="imageBaseUrl + newsDetail.data.newsPhoto"
                     class="image"
                />
            </div>
        </div>
    </div>

    <div *ngIf="!this.newsDetail.isShell">
        <div class="news-sub-content-2">
            <div class="fill {{ convertKebabCase(newsDetail.data.newsType) }}">{{ newsDetail.data.newsType }}</div>

            <div class="news-date">{{ getDate(newsDetail.data.newsDate) | date: 'MMM d, yyyy' }}</div>

            <div class="news-title">
                {{ newsDetail.data.newsTitle }}
            </div>

            <div class="news-detail" [innerHTML]=newsDetail.data.newsDetail>
            </div>
        </div>
    </div>


    <div>
        <div class="spinner-container" *ngIf="isCommentLoading">
            <ion-spinner class="spinner"></ion-spinner>
            <div>Memuat Komentar...</div>
        </div>

        <div class="comment-container" *ngIf="!isCommentLoading">
            <div class="comment-refresh-container">
                <div class="number-of-comment-text" id="comment-input">{{newsComment.commentTotal}} Komentar</div>
                <ion-icon class="refresh-icon" name="refresh-circle" (click)="doRefreshComment()"></ion-icon>
            </div>


            <div *ngIf="auth.token">
                <div class="comment-container-0" *ngIf="isReplyComment">
                    <div class="comment-container-0-0">
                        <div class="reply-comment-container">Balas komentar <span
                                class="current-name-to-reply-text">{{currentNameToReply}}</span></div>
                        <ion-icon name="close-circle" (click)="setReplyOff()"></ion-icon>
                    </div>
                </div>
                <form [formGroup]="commentForm" (ngSubmit)="submitComment()">
                    <div class="comment-container-1">
                        <ion-textarea class="comment ion-no-padding" rows="6"
                                      placeholder="Berikan komentar anda disini"
                                      auto-grow=true
                                      formControlName="comment"
                        >
                        </ion-textarea>
                    </div>
                    <div class="comment-container-2">
                        <span class="max-length-text">{{commentForm.value.comment.length}} / 200</span>

                        <div class="error-message" *ngIf="isExceedCommentMaxLength && isSubmitted">
                            <ion-icon class="information-container" name="information-circle-outline"></ion-icon>
                            <div class="error-text">Komentar tidak boleh melebihi 200 karakter.</div>
                        </div>

                        <ion-button class="reply-button" type="submit">Kirim</ion-button>
                    </div>
                </form>
            </div>

            <div class="comment-container-2" *ngFor="let comment of newsComment.comments">
                <div class="comment-container-2-0">
                    <div class="comment-container-2-1">
                        <img class="profile-image" [src]="placeholderProfilePict" alt=""
                             *ngIf="!comment.profilePict">
                        <img class="profile-image" [src]=comment.profilePict alt="" *ngIf="comment.profilePict">
                    </div>
                    <div class="comment-container-2-2">
                        <div class="name-text">{{comment.fullName}}</div>
                        <div class="date-container">
                            <div class="time-text">{{comment.timeCreated}}</div>
                            <div class="date-text">{{comment.dateCreated}}</div>
                        </div>
                        <div class="comment-text">{{comment.comment}}</div>
                        <div class="reply-container">
                            <img class="reply-image" [src]="replyOutline" alt="">
                            <div class="reply-text" (click)="setReplyOn(comment.fullName, comment.commentId)">Balas
                            </div>
                        </div>
                    </div>
                </div>

                <div class="reply-container">
                    <div class="reply-container-2-0" *ngFor="let reply of comment.commentReplies">
                        <div class="reply-container-2-1">
                            <img class="profile-image" [src]="placeholderProfilePict" alt=""
                                 *ngIf="!reply.profilePict">
                            <img class="profile-image" [src]=comment.profilePict alt="" *ngIf="reply.profilePict">
                        </div>
                        <div class="reply-container-2-2">
                            <div class="name-text">{{reply.fullName}}</div>
                            <div class="date-container">
                                <div class="time-text">{{reply.timeCreated}}</div>
                                <div class="date-text">{{reply.dateCreated}}</div>
                            </div>
                            <div class="comment-text">{{reply.comment}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>


