// http://ionicframework.com/docs/theming/
// @import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

// EXTRA GLOBAL STYLES
// Add custom Ionic Colors
@import './theme/custom-ion-colors.scss';
// Add base app styles
@import './theme/app-defaults.scss';
// Add base shell styles
@import './theme/shell-defaults.scss';

:root {
  --nunito-family: 'Nunito', sans-serif;
  --bebas-family: 'Bebas Neue', sans-serif;
  --montserrat-family: 'Montserrat', sans-serif;
  //--idstar-grey: #D1D1D1;
  //--idstar-light-grey: #f8f8f8;
  --idstar-primary: #75C244;
  --idstar-secondary: #64E512;
  --idstar-primary-2: #9DD44F;
  --idstar-primary-3: #437622;
  --idstar-primary-4: #7FE23F;
  --idstar-light-green: #CCFFAC;
  --idstar-white: #FFFFFF;
  --idstar-dark-grey: #383838;
  --idstar-moderate-grey: #E3E3E3;
  --idstar-light-grey: #F5F5F5;
  --idstar-light-grey-2: #F8F8F8;
  --idstar-light-grey-3: #EFEFEF;
  --idstar-light-grey-4: #E8E8E8;
  --idstar-grey: #808080;
  --idstar-grey-2: #7D7D7D;
  --idstar-grey-3: #C4C4C4;
  --idstar-grey-4: #E6E6E6;
  --idstar-yellow: #D6C533;
  --idstar-yellow-2: #FFD600;
  --idstar-turquoise: #38BDA5;
  --idstar-light-orange: #D6742C;
  --idstar-orange: #D6742C;
  --idstar-red: #C51414;
  --idstar-red-2: #FF4949;


  //--idstar-primary-shade: #303030;
  //--idstar-light: #505050;
  //--idstar-dark: #FFFFFF;
  //--idstar-darker: #252525;

  --idstar-bootcamp-color: #75C244;
  --idstar-event-color: #EAC131;
  --idstar-challenge-color: #38BDA5;

  --idstar-success: #00b47d;
  --idstar-danger: #ea242a;
  --idstar-warning: #FF9800;

  --idstar-extend: #F4D918;
  --idstar-blue: #4FC1F8;
}

.bold {
  font-weight: bold;
}

.my-custom-modal-css {
  --height: 80%;
  --width: 90%;
}

.ion-no-color {
  --background: none;
}

.option-full-width {
  --min-width: 88vw !important;
  --width: 88vw !important;
  --max-width: 100% !important;
  --height: 10vh !important;
  --box-shadow: transparent;
}

.option-full-width-province {
  --min-width: 88vw !important;
  --width: 88vw !important;
  --max-width: 100% !important;
}

.option-full-width-edit-profile-province {
  --min-width: 100px !important;
  --width: 93% !important;
  --max-width: 400px !important;
}

.option-full-width-edit-profile {
  --min-width: 100px !important;
  --width: 93% !important;
  --max-width: 400px !important;
  --height: 8.7vh !important;
  // --box-shadow: transparent;
}

.option-full-width-edit-account {
  --min-width: 100px !important;
  --width: 93% !important;
  --max-width: 400px !important;
  --padding-start: 20px;
}

ion-searchbar {
  .searchbar-input-container {
    box-shadow: none;

    .searchbar-input {
      border-radius: 5px;
      font-size: 12px;
      box-shadow: none;
    }
  }
}

.toolbar-background{
  background: none;
}

.idstar-custom-alert {
  --max-width: 300px;


  .alert-wrapper {
    --background: var(--idstar-white);
    border-radius: 5px;
    margin-bottom: 200px;
  }

  .alert-head {
    background: var(--idstar-dark);
    padding-bottom: 0;
  }

  .alert-message {
    background: var(--idstar-dark);
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    padding-bottom: 0;
  }

  .alert-button-group {
    background: var(--idstar-dark);
    justify-content: center;
    padding-bottom: 20px;
  }

  .idstar-custom-alert-action {
    text-transform: none;
    //background: red;
    background: linear-gradient(90deg, rgba(117, 194, 68, 1) 0%, rgba(100, 229, 18, 1) 50%);
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    color: var(--idstar-white);
    letter-spacing: 1.5px;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-inline-start: 45px;
    padding-inline-end: 45px;
    --box-shadow: 0 0 32px -7px #75C244;
  }

  .message-body {
    background: var(--idstar-dark);
    text-align: center;

    .image {
      width: 70px;
      margin-bottom: 10px;
    }

    .title {
      margin-bottom: 24px;
    }

    .content {
      margin-bottom: 34px;
    }

    .title {
      color: var(--idstar-dark-grey);
      font-weight: 700;
      font-size: 24px;
    }

    .content {
      color: var(--idstar-grey);
      font-size: 12px;
      font-weight: 400;
    }
  }
}


.form-error-notice {
  display: block;
  margin: 5px 0;
  color: var(--idstar-danger);
  font-family: var(--nunito-family);
  font-size: 12px;
  font-weight: bold;
}

.error-message {
  margin: 0 0 calc(var(--page-margin) / 2);
  display: flex;
  align-items: center;
  align-content: center;
  color: var(--ion-color-danger);
  font-size: 12px;

  .information-container {
    margin-right: 3px;
  }
}


.ios .idstar-custom-alert {
  .idstar-custom-alert-action {
    flex: 0 0 auto !important;
    height: auto;
  }
}

ion-searchbar ion-icon {
  right: 16px !important;
  left: auto !important;
  color: var(--idstar-primary) !important;
}

.notification-item-wrapper {
  border: none;
  outline: none;
}

.idstar-custom-alert-action {
  text-transform: none;
  //background: red;
  background: linear-gradient(90deg, rgba(117, 194, 68, 1) 0%, rgba(100, 229, 18, 1) 50%);
  border-radius: 5px;
  font-weight: bold;
  font-size: 12px;
  color: var(--idstar-white);
  letter-spacing: 1.5px;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-inline-start: 45px;
  padding-inline-end: 45px;
  --box-shadow: 0 0 32px -7px #75C244;
}

.message-body {
  background: var(--idstar-dark);
  text-align: center;

  .image {
    width: 70px;
    margin-bottom: 10px;
  }

  .title {
    margin-bottom: 24px;
  }

  .content {
    margin-bottom: 34px;
  }

  .title {
    color: var(--idstar-dark-grey);
    font-weight: 700;
    font-size: 24px;
  }

  .content {
    color: var(--idstar-grey);
    font-size: 12px;
    font-weight: 400;
  }
}


.home-message-body {
  text-align: center;
  padding: 0 !important;

  img {
    width: 100%;
  }
}


.home-alert {
  --max-width: 300px;

  .alert-head {
    padding: 0;
  }

  .alert-message {
    max-height: 300px;
    padding: 0;
  }

  .sc-ion-alert-ios{
    .alert-button-outline{
      border-radius: 10px 0 0 10px;
    }

    .alert-button-fill{
      border-radius: 0 10px 10px 0;
    }
  }

  .alert-button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 15px;
  }

  .alert-button-outline {
    color: var(--idstar-primary);
    outline-color: var(--idstar-primary);
    --background: none;
    --box-shadow: none;
    border: 1px solid var(--idstar-primary);

    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-inline-start: 40px;
    padding-inline-end: 40px;
  }

  .alert-button-fill {
    background: linear-gradient(90deg, rgba(117, 194, 68, 1) 0%, rgba(100, 229, 18, 1) 50%);
    border-radius: 5px;
    color: var(--idstar-white);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-inline-start: 40px;
    padding-inline-end: 40px;
    --box-shadow: 0 0 32px -7px #75C244;
    margin: 0 !important;
  }
}

//Hackathon vote Alert 

.vote-alert-body {
  text-align: center;
  padding: 40px;

  img {
    border-radius: 50%;
    width: 106px;
    height: 106px;
  }
}

.vote-done{
  text-align: center;
  padding: 20px;
  background: linear-gradient(90deg, rgba(117, 194, 68, 1) 0%, rgba(100, 229, 18, 1) 50%);
  .title{
    margin: 0px;
    font-weight: bold;
  }
  p{
    color: white;
  }
}

.vote-alert {
  --max-width: 300px;

  .alert-head {
    padding: 0;
    
  }

  .alert-message {
    max-height: 300px;
    padding: 0;
  }

  .sc-ion-alert-ios{
    .alert-button-outline{
      border-radius: 10px 0 0 10px;
    }

    .alert-button-fill{
      border-radius: 0 10px 10px 0;
    }
  }

  .alert-button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 15px;
  }

  .alert-button-outline {
    color: var(--idstar-primary);
    outline-color: var(--idstar-primary);
    --background: none;
    --box-shadow: none;
    border: 1px solid var(--idstar-primary);

    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-inline-start: 40px;
    padding-inline-end: 40px;
  }

  .alert-button-fill {
    background: linear-gradient(90deg, rgba(117, 194, 68, 1) 0%, rgba(100, 229, 18, 1) 50%);
    border-radius: 5px;
    color: var(--idstar-white);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-inline-start: 40px;
    padding-inline-end: 40px;
    --box-shadow: 0 0 32px -7px #75C244;
    margin: 0 !important;
  }
}

.how-to-upload-alert {
  --max-width: 300px;

  .alert-head {
    padding: 0;
  }

  .alert-message {
    max-height: 300px;
    padding: 0;
  }

  .sc-ion-alert-ios{
    .alert-button-outline{
      border-radius: 10px 0 0 10px;
    }

    .alert-button-fill{
      border-radius: 0 10px 10px 0;
    }
  }

  .alert-button-fill-url {
    display: flex;
    flex-direction: row;  
    background: linear-gradient(90deg, rgba(117, 194, 68, 1) 0%, rgba(100, 229, 18, 1) 50%);
    color: var(--idstar-white);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-inline-start: 40px;
    padding-inline-end: 40px;
    --box-shadow: 0 0 32px -7px #75C244;
    margin: auto;
  }
  
}

.vote-alert-notification {
  --max-width: 300px;

  .alert-head {
    padding: 0;
  }

  .alert-message {
    max-height: 300px;
    padding: 0;
  }

  .alert-wrapper{
    border-radius: 10%;
  }

  .sc-ion-alert-ios{
    .alert-button-outline{
      border-radius: 10px 0 0 10px;
    }

    .alert-button-fill{
      border-radius: 0 10px 10px 0;
    }
  }

  .alert-button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
  }

  .alert-button-outline {
    color: var(--idstar-primary);
    outline-color: var(--idstar-primary);
    --background: none;
    --box-shadow: none;
    border: 1px solid var(--idstar-primary);

    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-inline-start: 40px;
    padding-inline-end: 40px;
  }

  .alert-button-fill {
    background: linear-gradient(90deg, rgba(117, 194, 68, 1) 0%, rgba(100, 229, 18, 1) 50%);
    border-radius: 5px;
    color: var(--idstar-white);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-inline-start: 40px;
    padding-inline-end: 40px;
    --box-shadow: 0 0 32px -7px #75C244;
    margin: 0 !important;
  }
}

.how-to-upload-alert {
  --max-width: 300px;

  .alert-head {
    padding: 0;
  }

  .alert-message {
    max-height: 300px;
    padding: 0;
  }

  .sc-ion-alert-ios{
    .alert-button-outline{
      border-radius: 10px 0 0 10px;
    }

    .alert-button-fill{
      border-radius: 0 10px 10px 0;
    }
  }

  .alert-button-fill-url {
    display: flex;
    flex-direction: row;  
    background: linear-gradient(90deg, rgba(117, 194, 68, 1) 0%, rgba(100, 229, 18, 1) 50%);
    color: var(--idstar-white);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-inline-start: 40px;
    padding-inline-end: 40px;
    --box-shadow: 0 0 32px -7px #75C244;
    margin: auto;
  }
  
}





