// events list
ion-content{
  --background: var(--idstar-darker);
  color: #fff;
}
.events-list {
  padding: 10px;
}

.event {
  display: flex;
  align-items: stretch;
  background-color: var(--idstar-primary-shade);
  font-family: var(--nunito-family);
  color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  + .event {
    margin-top: 10px;
  }

  .event-image {
    flex: 0 0 30%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    // gives radius to the left corner of border
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .event-content {
    flex: 0 0 70%;
    padding: var(--app-narrow-margin);

    // gives radius to the right corner of border
  }

  .event-metadata {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .date,
    .category {
      font-family: var(--nunito-family);
    }

    .date {
      font: {
        size: 12px;
      }

      color: #A1A1A1;
    }

    .status {
      display: inline-block;
      font-size: 12px;
      padding: 2px 5px;
      border-radius: 6px;
      color: #fff;

      &--done {
        background-color: var(--idstar-success);
      }

      &--ongoing {
        background-color: var(--idstar-warning);
      }

      &--cancelled {
        background-color: var(--idstar-danger);
      }
    }
  }

  .event-title {
    font: {
      family: var(--nunit0-family);
      weight: bold;
      size: 14px;
    }

    margin: 10px 0 0;
  }
}

.empty-event {
  color: #fff;
  text-align: center;
  font-family: var(--nunito-family);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 35%;
    max-width: 250px;
  }

  .title {
    font-weight: bold;
    font-size: 16px;
    margin: 40px 0 10px;
  }

  .subtitle {
    margin: 0 0 100px;
    font-size: 14px;
  }
}
