<ion-content>
  <div class="events-list" *ngIf="countData > 0; else empty">
    <div class="event" *ngFor="let event of data" (click)="goToEventDetail(event.event_id, event.event_type_id)">
      <div class="event-image" [style.background-image]="'url(' + getEventImage(event.event_banner) + ')'"></div>
      <div class="event-content">
        <div class="event-metadata">
          <span class="date">{{getEventDate(event.event_date) | date: 'MMM d, yyyy' }}</span>
          <span class="status status--done">Done</span>
        </div>

        <p class="event-title">
          {{event.event_title}}
        </p>
      </div>
    </div>
  </div>
  <ng-template #empty>
    <div class="empty-event">
      <img [src]="emptyImage" />
      <p class="title">Nothing's here!</p>
      <p class="subtitle">You haven't joined any event yet!</p>
    </div>
    </ng-template>
  </ion-content>
