.subsection-title {
  position: relative;
  display: flex;
  align-items: center;

  text-align: left;
  font-size: 12px;
  letter-spacing: 1px;
  color: var(--idstar-dark-grey);
  font-weight: bold;
  padding-top: 25px;
  padding-bottom: 0;
  margin: 0;
}

.title {
  text-align: center;
  margin-top: 0;
  color: #ffffff;
}

.box {
  padding: 7% 8%;
  margin: 0 3%;
  text-align: center;

  .auth-title {
    color: var(--idstar-dark-grey);
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 15px;
    margin-top: 0;
    letter-spacing: 0.6px;
  }

  .inputs-list {
    --ion-item-background: var(--idstar-primary-shade);

    .input-item {
      --background: var(--idstar-primary-shade);
      color: var(--idstar-grey);
      --min-height: 25px;
      --padding-start: 0px;
      --padding-end: 0px;
      border-bottom: 1px solid var(--idstar-grey);

      .input-class {
        --padding-top: 0;
        --padding-bottom: 0;
        font-size: 13px;
        color: var(--idstar-grey);
      }
    }

    .error-container {
      .error-message {
        margin: calc(var(--page-margin) / 2) 0px;
        display: flex;
        align-items: center;
        color: var(--ion-color-danger);
        font-size: 13px;

        ion-icon {
          padding-inline-end: calc(var(--page-margin) / 2);
        }
      }
    }
  }

  .back {
    background: var(--idstar-primary-shade);
    padding-block-start: 7%;
    outline: none;
    border: none;

    .link {
      color: var(--idstar-primary);
      text-decoration: none;

      .icon {
        vertical-align: middle;
      }

      .label {
        vertical-align: middle;
      }
    }
  }
}

.main-container {
  height: 100vh;
  font-family: var(--montserrat-family);
  display: flex;
  justify-content: center;
  align-items: center;
}

.recover-message {
  text-align: center;
  font-size: 13px;
  margin-bottom: 30px;
}

.reset-password-btn {
  margin: 36px 0;
  --background: rgb(117,194,68);
  --background: linear-gradient(90deg, rgba(117,194,68,1) 0%, rgba(100,229,18,1) 50%);
  font-size: 12px;
  color: var(--idstar-white);
  font-family: var(--montserrat-family);
  --box-shadow: 0 0 32px -7px #75C244;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
