.skill-header {
  color: var(--idstar-dark-grey);

  .back {
    font-size: 22px;
    color: var(--idstar-dark-grey);
  }

  .title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bold;
  }
}

.skill-content {
  --background: var(--idstar-light-grey);

  .skill-search-bar {
    --background: var(--idstar-white);
  }

  .skill-autocomplete {
    padding: 0;

    .spinner-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;

      .spinner {
        margin-bottom: 10px;
      }
    }

    .search-skill-item {
      font-size: 14px;
      --min-height: 46px;
      --inner-padding-end: 0;
      --background: var(--idstar-white);
    }

    .not-Found-text {
      text-align: center;
      padding: 20px 0;
    }
  }

  .skill-selected {
    padding: 12px;

    .skill-chip {
      margin-left: 0;

      .skill-label {
        font-size: 9px;
      }
    }

    .skill-item {
      --background: white;
      border-color: var(--idstar-primary-shade);
      border-width: 1px;
      border-style: solid;

      .close-icon {
        //color: var(--idstar-primary-shade);
      }
    }
  }
}

.skill-footer {
  padding: 24px 37px;

  .skill-add-button {
    margin: 36px 0;
    --background: rgb(117, 194, 68);
    --background: linear-gradient(90deg, rgba(117, 194, 68, 1) 0%, rgba(100, 229, 18, 1) 50%);
    font-size: 12px;
    --color: var(--idstar-white);
    --box-shadow: 0 0 32px -7px #75C244;
    text-align: center;
    margin: 0 auto;
  }
}

.header-toolbar {
  --background: var(--idstar-primary);
}

.title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &-text {
    color: #fff;
    margin: 0;
    font: {
      size: 16px;
      family: var(--nunito-family);
    }
  }
}

.back {
  color: #fff;
  font-size: 22px;
}

.save {
  font-family: var(--nunito-family);
  color: #fff;
  font-size: 16px;
}


