<ion-header class="skill-header" no-border>
    <ion-toolbar>
        <ion-buttons slot="start" (click)="goBack()">
            <ion-icon class="back" name="ios-arrow-back"></ion-icon>
        </ion-buttons>
        <ion-title class="title">
            Keahlian
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="skill-content">
<!--    <ion-searchbar #sb class="skill-search-bar"-->
<!--                   placeholder="Cari Keahlian" mode="ios" [debounce]="500"-->
<!--                   [(ngModel)]="searchValue" (ionChange)="searchList($event)" animated autocomplete>-->
<!--    </ion-searchbar>-->
    <div class="ion-margin">
        <form [formGroup]="skillForm" (ngSubmit)="addSkill()">
        <ion-input type="text" placeholder="Misal: Adobe Photoshop" formControlName="skill" clearInput class="text-input">
        </ion-input>

        <ion-button class="skill-add-button"
                    type="submit"
                    expand="block"
        >
            Tambahkan Keahlian
        </ion-button>
        </form>

        <ion-list class="skill-autocomplete" [hidden]="hideSuggestion">
            <div *ngIf="isSkillShell" class="spinner-container">
                <ion-spinner class="spinner">Loading</ion-spinner>
                <div>Loading</div>
            </div>
            <div *ngIf="!isSkillShell">
                <ion-item class="search-skill-item" *ngFor="let item of searchResult" (click)="selectItem(item)">
                    <app-text-shell [data]="item"></app-text-shell>
                </ion-item>
            </div>
            <div *ngIf="searchResult.length <= 0" class="not-Found-text">
                Data tidak ditemukan.
            </div>
        </ion-list>
        <div class="skill-list-text">Daftar Keahlian</div>
        <div class="skill-selected">
            <div *ngIf="selectedSkills.length == 0">
                Mohon tambahkan keahlian.
            </div>
            <ion-chip class="skill-chip" outline color="primary" *ngFor="let skill of selectedSkills" (click)="removeItem(skill)">
                <ion-label class="skill-label">{{skill}}</ion-label>
                <ion-icon name="remove-circle"></ion-icon>
            </ion-chip>
        </div>
    </div>
</ion-content>

<ion-footer class="skill-footer">
    <ion-button class="skill-add-button"
                type="button"
                expand="block"
                (click)="saveSkills()"
    >
        Simpan
    </ion-button>
</ion-footer>
